In [77]:
import opendatasets as od
import pandas as pd
import numpy as np
import os
import copy

## Table of Contents
* [1. Preprocessing Data](#1)
    * [1.1. Downloading data](#1_1)
    
<!--     * [1.2. Deleting outliers and mistakes in data](#1_2)
    * [1.3. Adding new columns](#1_3)
    * [1.4. Adding Geospatial data](#1_4) -->
* [2. EDA....](#2)
<!--     * [2.1. Comparing of cities](#2_1)
    * [2.2. Bivariate Analysis of Warsaw](#2_2) -->
* [3. Model Fitting & Evaluation](#3)

    * [3.1. Logistic Regression](#3_logreg)
    * [3.2. SVM](#3_svm)
    * [3.3. Naive Bayes](#3_nb)
    * [3.4. k-Nearest Neighbors](#3_knn)
    * [3.5. Decision Tree](#3_tree)
    * [3.6. Random Forest](#3_forest)
    * [3.7. Ensemble Methods](#3_ensemble)
        * [3.7.1. Voting Classifier](#3_voting)
        * [3.7.2. Bagging Classifier](#3_bagging)
        * [3.7.3. AdaBoost Classifier](#3_adaboost)
        * [3.7.4. Gradient Boosting Classifier](#3_gradient)
        * [3.7.5. XGBoost](#3_xgboost)
        * [3.7.6. Stacked Ensembles](#3_stacked)
        
<!-- * [4. Conclusion](#4)
* [5. Predicting a price by example features](#5) -->

<a id="1"></a>

# 1. EDA

<a id="1_1"></a>

## 1.1. Downloading data

In [5]:
od.download("https://www.kaggle.com/datasets/stefanoleone992/tripadvisor-european-restaurants")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: alexandertropin
Your Kaggle Key: ········
Downloading tripadvisor-european-restaurants.zip to ./tripadvisor-european-restaurants

100%|████████████████████████████████████████| 102M/102M [00:38<00:00, 2.78MB/s]

In [2]:
file_path = 'tripadvisor-european-restaurants/tripadvisor_european_restaurants.csv'
rest_df = pd.read_csv(file_path)
 
rest_df.head()

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_14126/1340949966.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  rest_df = pd.read_csv(file_path)

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,...,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,...,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN

In [3]:
# removing the big dataset

os.remove(file_path)

In [4]:
rest_df.shape

(1083397, 42)

In [5]:
rest_df.isna().sum()

restaurant_link                           0
restaurant_name                           0
original_location                         0
country                                   0
region                                50323
province                             340632
city                                 400685
address                                   0
latitude                              15790
longitude                             15790
claimed                                1842
awards                               820264
popularity_detailed                   94988
popularity_generic                    97792
top_tags                             110634
price_level                          277205
price_range                          779070
meals                                448050
cuisines                             169103
special_diets                        743141
features                             765990
vegetarian_friendly                       0
vegan_options                             0
gluten_free                               0
original_open_hours                  489565
open_days_per_week                   489565
open_hours_per_week                  489565
working_shifts_per_week              489565
avg_rating                            96636
total_reviews_count                   52235
default_language                      95193
reviews_count_in_default_language     95193
excellent                             95193
very_good                             95193
average                               95193
poor                                  95193
terrible                              95193
food                                 484072
service                              479110
value                                480705
atmosphere                           821612
keywords                             984199
dtype: int64

In [6]:
rest_df.isna().sum() / rest_df.shape[0] * 100.

restaurant_link                       0.000000
restaurant_name                       0.000000
original_location                     0.000000
country                               0.000000
region                                4.644927
province                             31.441106
city                                 36.984134
address                               0.000000
latitude                              1.457453
longitude                             1.457453
claimed                               0.170021
awards                               75.712227
popularity_detailed                   8.767608
popularity_generic                    9.026423
top_tags                             10.211769
price_level                          25.586650
price_range                          71.909928
meals                                41.356031
cuisines                             15.608590
special_diets                        68.593600
features                             70.702614
vegetarian_friendly                   0.000000
vegan_options                         0.000000
gluten_free                           0.000000
original_open_hours                  45.187960
open_days_per_week                   45.187960
open_hours_per_week                  45.187960
working_shifts_per_week              45.187960
avg_rating                            8.919722
total_reviews_count                   4.821409
default_language                      8.786530
reviews_count_in_default_language     8.786530
excellent                             8.786530
very_good                             8.786530
average                               8.786530
poor                                  8.786530
terrible                              8.786530
food                                 44.680943
service                              44.222940
value                                44.370162
atmosphere                           75.836651
keywords                             90.843800
dtype: float64

In [7]:
rest_df.dtypes

restaurant_link                       object
restaurant_name                       object
original_location                     object
country                               object
region                                object
province                              object
city                                  object
address                               object
latitude                             float64
longitude                            float64
claimed                               object
awards                                object
popularity_detailed                   object
popularity_generic                    object
top_tags                              object
price_level                           object
price_range                           object
meals                                 object
cuisines                              object
special_diets                         object
features                              object
vegetarian_friendly                   object
vegan_options                         object
gluten_free                           object
original_open_hours                   object
open_days_per_week                   float64
open_hours_per_week                  float64
working_shifts_per_week              float64
avg_rating                           float64
total_reviews_count                  float64
default_language                      object
reviews_count_in_default_language    float64
excellent                            float64
very_good                            float64
average                              float64
poor                                 float64
terrible                             float64
food                                 float64
service                              float64
value                                float64
atmosphere                           float64
keywords                              object
dtype: object

In [8]:
rest_df.loc[:, 'restaurant_link':'longitude'].head()

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470

In [9]:
rest_df.loc[:, 'claimed':'special_diets'].head()

,claimed,awards,popularity_detailed,popularity_generic,top_tags,price_level,price_range,meals,cuisines,special_diets
0,Claimed,NaN,#1 of 2 Restaurants in Saint-Jouvent,#1 of 2 places to eat in Saint-Jouvent,"Cheap Eats, French",€,NaN,"Lunch, Dinner",French,NaN
1,Unclaimed,NaN,#2 of 2 Restaurants in Saint-Jouvent,#2 of 2 places to eat in Saint-Jouvent,Cheap Eats,€,NaN,NaN,NaN,NaN
2,Claimed,NaN,#1 of 1 Restaurant in Rivarennes,#1 of 1 places to eat in Rivarennes,"Cheap Eats, French, European",€,NaN,"Dinner, Lunch, Drinks","French, European",NaN
3,Claimed,NaN,#1 of 1 Restaurant in Lacelle,#1 of 1 places to eat in Lacelle,"Cheap Eats, French",€,NaN,"Lunch, Dinner",French,NaN
4,Unclaimed,NaN,#1 of 1 Restaurant in Saint-Laurent-de-Levezou,#1 of 1 places to eat in Saint-Laurent-de-Levezou,"Mid-range, French",€€-€€€,NaN,"Lunch, Dinner",French,NaN

In [10]:
rest_df.loc[:, 'features':'working_shifts_per_week'].head()

,features,vegetarian_friendly,vegan_options,gluten_free,original_open_hours,open_days_per_week,open_hours_per_week,working_shifts_per_week
0,"Reservations, Seating, Wheelchair Accessible, ...",N,N,N,NaN,NaN,NaN,NaN
1,NaN,N,N,N,NaN,NaN,NaN,NaN
2,"Reservations, Seating, Table Service, Wheelcha...",N,N,N,NaN,NaN,NaN,NaN
3,"Reservations, Seating, Serves Alcohol, Table S...",N,N,N,NaN,NaN,NaN,NaN
4,"Reservations, Seating, Wheelchair Accessible, ...",N,N,N,NaN,NaN,NaN,NaN

In [11]:
rest_df.loc[:, 'avg_rating':'value'].head()

,avg_rating,total_reviews_count,default_language,reviews_count_in_default_language,excellent,very_good,average,poor,terrible,food,service,value
0,4.0,36.0,English,2.0,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0
1,4.0,5.0,All languages,5.0,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN
2,5.0,13.0,English,4.0,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN
3,4.0,34.0,English,1.0,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5
4,4.5,11.0,All languages,11.0,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5

In [12]:
rest_df.loc[:, 'atmosphere':'keywords'].head()

   atmosphere keywords
0         NaN      NaN
1         NaN      NaN
2         NaN      NaN
3         NaN      NaN
4         NaN      NaN

## 1.2 Looking at columns with "," separator

In [13]:
# rating of values in the column

def rating_of_column_values(df, column, separator=', '):
    df2 = df[list(df)]
    df2['column_2'] = df2[column].str.split(separator)
    tags_list = list(set().union(*df2['column_2'].dropna()))

    tags_list_2 = []
    for tag in tags_list:
        tags_list_2.append([tag, df2['column_2'].dropna().map(set([tag]).issubset).fillna(False).value_counts()[True]])

    tags_list_2 = sorted(tags_list_2, key=lambda x: x[1], reverse=True)
    df2 = df2.drop(['column_2'], axis=1)
    return tags_list_2

In [14]:
# columns with ', ' (amount and percentage)

for col in rest_df.select_dtypes(include='object').columns:
    rest_with_comma = len(rest_df[rest_df[col].str.contains(', ', na=False)])
    if rest_with_comma > 0:
        print("{0:<20s} {1:>10} {2:>10f}".format(col, rest_with_comma, round(rest_with_comma/rest_df.shape[0]*100, 2)))

restaurant_name            3930   0.360000
original_location       1083397 100.000000
city                          3   0.000000
address                 1074625  99.190000
awards                   214179  19.770000
top_tags                 850418  78.500000
meals                    522083  48.190000
cuisines                 627912  57.960000
special_diets            168200  15.530000
features                 257037  23.730000
original_open_hours      593832  54.810000
keywords                  99198   9.160000

In [15]:
rating_of_column_values(rest_df, 'awards', separator=', ')

[["Travellers' Choice", 147397],
 ['Certificate of Excellence 2017', 142887],
 ['Certificate of Excellence 2020', 140248],
 ['Certificate of Excellence 2019', 139995],
 ['Certificate of Excellence 2018', 138741],
 ['Certificate of Excellence 2016', 107686],
 ['Certificate of Excellence 2015', 66340],
 ['Certificate of Excellence 2014', 41445],
 ['Certificate of Excellence 2013', 31065],
 ['Certificate of Excellence 2012', 11377],
 ['Michelin 2021 for The Michelin Plate: Good cooking', 5796],
 ['Certificate of Excellence 2011', 4335],
 ['Michelin 2021 for Comfortable restaurant', 3687],
 ['Michelin 2021 for Simple restaurant', 3478],
 ['good value cooking', 1816],
 ['worth a stop!', 1672],
 ['Michelin 2020 for The Michelin Plate: Good cooking', 1366],
 ['Michelin 2021 for Bib Gourmand: good quality', 1323],
 ['Michelin 2021 for Very comfortable restaurant', 1301],
 ['Michelin 2021 for One Michelin Star: High quality cooking', 1292],
 ['Michelin 2020 for Comfortable restaurant', 1150],
 ['Michelin 2020 for Simple restaurant', 857],
 ['Michelin 2020 for Bib Gourmand: good quality', 493],
 ['Michelin 2020 for One Michelin Star: High quality cooking', 380],
 ['Michelin 2020 for Very comfortable restaurant', 282],
 ['worth a detour!', 258],
 ['Michelin 2021 for Two Michelin Stars: Excellent cooking', 189],
 ['Michelin 2021 for Extremely comfortable restaurant.', 165],
 ["Travellers' Choice Best of the Best", 165],
 ["Travellers' Choice 2020", 86],
 ['worth a special journey!', 74],
 ['Michelin 2020 for Two Michelin Stars: Excellent cooking', 69],
 ['Michelin 2021 for Three Michelin Stars: Exceptional cuisine', 60],
 ['Michelin 2020 for Extremely comfortable restaurant.', 32],
 ['Michelin 2021 for Luxurious restaurant', 29],
 ['Michelin 2020 for Three Michelin Stars: Exceptional cuisine', 14],
 ['Michelin 2020 for Luxurious restaurant', 1]]

In [16]:
rating_of_column_values(rest_df, 'top_tags', separator=', ')

[['Mid-range', 538207],
 ['Cheap Eats', 240351],
 ['Italian', 236822],
 ['European', 177712],
 ['Mediterranean', 155388],
 ['Vegetarian Friendly', 133520],
 ['Pizza', 113259],
 ['Cafe', 107793],
 ['French', 98892],
 ['Bar', 90677],
 ['Spanish', 82501],
 ['Seafood', 80241],
 ['British', 64133],
 ['Fast food', 58479],
 ['Pub', 53573],
 ['Asian', 45942],
 ['German', 36346],
 ['International', 32942],
 ['Quick Bites', 29544],
 ['Chinese', 29113],
 ['Dessert', 28969],
 ['Fine Dining', 28081],
 ['American', 27972],
 ['Greek', 26215],
 ['Indian', 21197],
 ['Japanese', 20717],
 ['Barbecue', 20511],
 ['Steakhouse', 18576],
 ['Portuguese', 17682],
 ['Vegan Options', 16240],
 ['Sushi', 15435],
 ['Healthy', 14077],
 ['Dutch', 14041],
 ['Bakeries', 13373],
 ['Grill', 13261],
 ['Belgian', 11558],
 ['Austrian', 11028],
 ['Central European', 11015],
 ['Turkish', 10264],
 ['Wine Bar', 9745],
 ['Contemporary', 9620],
 ['Thai', 9446],
 ['Polish', 9374],
 ['Brew Pub', 9062],
 ['Deli', 8498],
 ['Middle Eastern', 8494],
 ['Diner', 7613],
 ['Mexican', 7398],
 ['Gluten Free Options', 7357],
 ['Irish', 6496],
 ['Gastropub', 6396],
 ['Street Food', 5480],
 ['Fusion', 5447],
 ['Balti', 5155],
 ['Vietnamese', 5121],
 ['Czech', 4388],
 ['Northern-Italian', 4130],
 ['Swedish', 3598],
 ['Eastern European', 3560],
 ['Soups', 3261],
 ['Moroccan', 3199],
 ['Southern-Italian', 3190],
 ['Lebanese', 3091],
 ['South American', 3031],
 ['Latin', 3014],
 ['Scandinavian', 2864],
 ['Cantonese', 2791],
 ['Croatian', 2786],
 ['Central-Italian', 2487],
 ['Hungarian', 2305],
 ['Tuscan', 2249],
 ['African', 2191],
 ['Scottish', 2166],
 ['Brazilian', 2018],
 ['Dining bars', 1937],
 ['Danish', 1907],
 ['Caribbean', 1897],
 ['Neapolitan', 1836],
 ['Basque', 1697],
 ['Romanian', 1688],
 ['Emilian', 1635],
 ['Lombard', 1526],
 ['Sicilian', 1495],
 ['Argentinian', 1490],
 ['Romana', 1374],
 ['Korean', 1291],
 ['Speciality Food Market', 1184],
 ['Pakistani', 1133],
 ['Halal', 1050],
 ['Peruvian', 1026],
 ['Bangladeshi', 984],
 ['Catalan', 975],
 ['Arabic', 938],
 ['Campania', 773],
 ['Nepalese', 738],
 ['Hawaiian', 706],
 ['Ligurian', 674],
 ['Beer restaurants', 661],
 ['Indonesian', 650],
 ['Persian', 639],
 ['Central American', 613],
 ['Sardinian', 587],
 ['Welsh', 565],
 ['Lazio', 560],
 ['Venezuelan', 508],
 ['Russian', 503],
 ['Cajun & Creole', 495],
 ['Szechuan', 494],
 ['Hong Kong', 463],
 ['Japanese Fusion', 430],
 ['Swiss', 376],
 ['Israeli', 361],
 ['Jamaican', 340],
 ['Apulian', 336],
 ['Southwestern', 335],
 ['Afghani', 334],
 ['Ethiopian', 297],
 ['Cuban', 289],
 ['Tunisian', 247],
 ['Taiwanese', 247],
 ['Australian', 234],
 ['Sri Lankan', 228],
 ['Colombian', 223],
 ['Egyptian', 211],
 ['Philippine', 210],
 ['Central Asian', 204],
 ['Calabrian', 194],
 ['Malaysian', 183],
 ['Georgian', 174],
 ['Canadian', 169],
 ['Armenian', 165],
 ['Caucasian', 161],
 ['Mongolian', 151],
 ['Shanghai', 149],
 ['Albanian', 135],
 ['Delivery Only', 134],
 ['Cambodian', 118],
 ['Tibetan', 117],
 ['Fruit parlours', 116],
 ['Romagna', 110],
 ['Slovenian', 107],
 ['Kosher', 99],
 ['Algerian', 91],
 ['Ukrainian', 90],
 ['Chilean', 87],
 ['Dine With a Local Chef', 63],
 ['Native American', 58],
 ['Japanese sweets parlour', 57],
 ['Ecuadorean', 55],
 ['Medicinal foods', 53],
 ['Imperial Chinese', 40],
 ['Singaporean', 39],
 ['Polynesian', 36],
 ['Beijing Specialties ', 36],
 ['New Zealand', 34],
 ['Beijing cuisine', 31],
 ['Uzbek', 28],
 ['NorthWestern Chinese', 25],
 ['Azerbaijani', 25],
 ['Norwegian', 24],
 ['NorthEastern Chinese', 23],
 ['Hunan', 22],
 ['Nigerian', 21],
 ['Guatemalan', 20],
 ['Assyrian', 19],
 ['Salvadoran', 19],
 ['Bahamian', 16],
 ['Hokkaido cuisine', 15],
 ['Yunnan', 14],
 ['Fujian', 14],
 ['Anhui', 14],
 ['Xinjiang', 14],
 ['Burmese', 13],
 ['Latvian', 13],
 ['Zhejiang', 13],
 ['Kyoto cuisine', 12],
 ['Puerto Rican', 11],
 ['Costa Rican', 9],
 ['Kaiseki', 7],
 ['Nonya/Malaysian', 6],
 ['Kappo', 4],
 ['Guizhou', 2],
 ['Kyushu cuisine', 2],
 ['Hangzhou', 2],
 ['Jiangxi', 2],
 ['Shandong', 2],
 ['Guangxi', 2],
 ['Henan', 1],
 ['Hubei', 1]]

In [17]:
rating_of_column_values(rest_df, 'meals', separator=', ')

[['Dinner', 532366],
 ['Lunch', 511678],
 ['Breakfast', 181695],
 ['Drinks', 117450],
 ['Brunch', 101571],
 ['After-hours', 91200]]

In [18]:
rating_of_column_values(rest_df, 'cuisines', separator=', ')

[['Italian', 235823],
 ['European', 208436],
 ['Mediterranean', 173020],
 ['Pizza', 114070],
 ['Cafe', 109188],
 ['French', 98480],
 ['Spanish', 93191],
 ['Bar', 90508],
 ['Pub', 82113],
 ['Seafood', 81397],
 ['British', 67673],
 ['Fast food', 61154],
 ['Asian', 53658],
 ['German', 36236],
 ['International', 34727],
 ['Greek', 30774],
 ['Chinese', 29046],
 ['American', 27921],
 ['Barbecue', 26997],
 ['Healthy', 26168],
 ['Portuguese', 23781],
 ['Grill', 22019],
 ['Indian', 21119],
 ['Japanese', 20645],
 ['Central European', 20349],
 ['Steakhouse', 18511],
 ['Southern-Italian', 18191],
 ['Sushi', 17777],
 ['Wine Bar', 17482],
 ['Gastropub', 14764],
 ['Contemporary', 14665],
 ['Dutch', 14076],
 ['Diner', 13444],
 ['Deli', 11621],
 ['Middle Eastern', 11588],
 ['Central-Italian', 11582],
 ['Belgian', 11549],
 ['Turkish', 11318],
 ['Austrian', 11026],
 ['Thai', 11004],
 ['Street Food', 10743],
 ['Fusion', 10702],
 ['Northern-Italian', 10249],
 ['Polish', 9367],
 ['Brew Pub', 9145],
 ['Soups', 7931],
 ['Mexican', 7364],
 ['Vietnamese', 7005],
 ['Campania', 6617],
 ['Neapolitan', 6397],
 ['Irish', 6338],
 ['South American', 6320],
 ['Croatian', 6279],
 ['Eastern European', 5974],
 ['Balti', 5763],
 ['Czech', 5716],
 ['Tuscan', 5666],
 ['Sicilian', 5666],
 ['Dining bars', 5058],
 ['Swedish', 4723],
 ['Scottish', 4692],
 ['Scandinavian', 4474],
 ['Hungarian', 3781],
 ['Lazio', 3771],
 ['Romana', 3653],
 ['Bangladeshi', 3504],
 ['Moroccan', 3225],
 ['Lebanese', 3078],
 ['Romanian', 3062],
 ['Latin', 3032],
 ['Catalan', 2999],
 ['Danish', 2973],
 ['Lombard', 2848],
 ['Emilian', 2535],
 ['Argentinian', 2509],
 ['Ligurian', 2356],
 ['Sardinian', 2252],
 ['Beer restaurants', 2201],
 ['African', 2197],
 ['Brazilian', 2040],
 ['Arabic', 1954],
 ['Pakistani', 1897],
 ['Caribbean', 1896],
 ['Korean', 1761],
 ['Central American', 1567],
 ['Welsh', 1372],
 ['Hawaiian', 1092],
 ['Japanese Fusion', 1086],
 ['Nepalese', 1052],
 ['Peruvian', 1015],
 ['Indonesian', 955],
 ['Persian', 836],
 ['Venezuelan', 762],
 ['Apulian', 714],
 ['Russian', 672],
 ['Tunisian', 661],
 ['Israeli', 611],
 ['Afghani', 588],
 ['Cajun & Creole', 507],
 ['Central Asian', 486],
 ['Cuban', 486],
 ['Jamaican', 469],
 ['Colombian', 466],
 ['Malaysian', 454],
 ['Mongolian', 440],
 ['Taiwanese', 434],
 ['Egyptian', 415],
 ['Swiss', 388],
 ['Australian', 384],
 ['Calabrian', 367],
 ['Southwestern', 361],
 ['Ethiopian', 352],
 ['Sri Lankan', 323],
 ['Caucasian', 318],
 ['Armenian', 313],
 ['Albanian', 285],
 ['Cambodian', 278],
 ['Canadian', 266],
 ['Georgian', 254],
 ['Fruit parlours', 240],
 ['Romagna', 229],
 ['Ukrainian', 224],
 ['Algerian', 218],
 ['Philippine', 212],
 ['Medicinal foods', 194],
 ['Slovenian', 177],
 ['Tibetan', 151],
 ['Chilean', 146],
 ['Singaporean', 120],
 ['Ecuadorean', 114],
 ['Native American', 105],
 ['Norwegian', 101],
 ['Japanese sweets parlour', 96],
 ['New Zealand', 69],
 ['Beijing cuisine', 66],
 ['Polynesian', 63],
 ['Azerbaijani', 56],
 ['Assyrian', 49],
 ['Fujian', 43],
 ['Uzbek', 42],
 ['Burmese', 36],
 ['Xinjiang', 35],
 ['Yunnan', 34],
 ['Puerto Rican', 33],
 ['Guatemalan', 32],
 ['Latvian', 32],
 ['Nigerian', 28],
 ['Bahamian', 28],
 ['Salvadoran', 26],
 ['Costa Rican', 25],
 ['Hokkaido cuisine', 25],
 ['Kyoto cuisine', 18],
 ['Kaiseki', 17],
 ['Kyushu cuisine', 8],
 ['Kappo', 6],
 ['Shojin', 2]]

In [19]:
rating_of_column_values(rest_df, 'special_diets', separator=', ')

[['Vegetarian Friendly', 324017],
 ['Vegan Options', 136597],
 ['Gluten Free Options', 123497],
 ['Halal', 6709],
 ['Kosher', 298]]

In [20]:
rating_of_column_values(rest_df, 'features', separator=', ')

[['Seating', 228439],
 ['Reservations', 215387],
 ['Table Service', 191467],
 ['Wheelchair Accessible', 146385],
 ['Serves Alcohol', 129553],
 ['Takeout', 94983],
 ['Outdoor Seating', 74512],
 ['Accepts Credit Cards', 58121],
 ['Highchairs Available', 52849],
 ['Full Bar', 49332],
 ['Free Wifi', 41665],
 ['Parking Available', 27316],
 ['Wine and Beer', 25291],
 ['Delivery', 18758],
 ['Television', 17841],
 ['Accepts Visa', 17558],
 ['Accepts Mastercard', 16681],
 ['Street Parking', 14063],
 ['Free off-street parking', 12344],
 ['Digital Payments', 10863],
 ['Validated Parking', 7949],
 ['Accepts American Express', 7707],
 ['Gift Cards Available', 6103],
 ['Cash Only', 6046],
 ['Private Dining', 5075],
 ['Dog Friendly', 5064],
 ['Buffet', 4562],
 ['Family style', 4423],
 ['Live Music', 4080],
 ['Non-smoking restaurants', 2607],
 ['Waterfront', 1722],
 ['Accepts Discover', 1262],
 ['Valet Parking', 1155],
 ['Playgrounds', 1141],
 ['Beach', 668],
 ['Drive Thru', 499],
 ['BYOB', 494],
 ['Sports bars', 409],
 ['Jazz Bar', 350]]

In [21]:
# too long
# rating_of_column_values(rest_df, 'original_open_hours', separator=', ')

In [22]:
# too long
# rating_of_column_values(rest_df, 'keywords', separator=', ')

In [23]:
rating_of_column_values(rest_df, 'country', separator=', ')

[['Italy', 224763],
 ['Spain', 157479],
 ['France', 155288],
 ['England', 144681],
 ['Germany', 115333],
 ['Greece', 33763],
 ['Portugal', 32592],
 ['The Netherlands', 29792],
 ['Poland', 24698],
 ['Belgium', 23711],
 ['Austria', 20487],
 ['Sweden', 18555],
 ['Czech Republic', 14844],
 ['Scotland', 14215],
 ['Ireland', 11203],
 ['Denmark', 9485],
 ['Wales', 9134],
 ['Croatia', 8375],
 ['Romania', 7842],
 ['Hungary', 7431],
 ['Finland', 7372],
 ['Bulgaria', 4469],
 ['Slovakia', 4251],
 ['Northern Ireland', 3634]]

## 1.3 Fixing the country name

In [24]:
def theUK(country):
    if country in ['England', 'Scotland', 'Wales', 'Northern Ireland']:
        return 'United Kingdom'
    else:
        return country

def theNe(country):
    if country == 'Netherlands':
        return 'The Netherlands'
    else:
        return country

subreg = {
    'Italy': 'South',
    'Spain': 'South',
    'France': 'West',
    'United Kingdom': 'North',
#     'England': 'North',
    'Germany': 'West',
    'Greece': 'South',
    'Portugal': 'South',
    'The Netherlands': 'West',
    'Poland': 'East',
    'Belgium': 'West',
    'Austria': 'West',
    'Sweden': 'North',
    'Czech Republic': 'East',
#     'Scotland': 'North',
    'Ireland': 'North',
    'Denmark': 'North',
#     'Wales': 'North',
    'Croatia': 'South',
    'Romania': 'East',
    'Hungary': 'East',
    'Finland': 'North',
    'Bulgaria': 'East',
    'Slovakia': 'East'
#     'Northern Ireland': 'North'
}

In [25]:
rest_df_upd = copy.deepcopy(rest_df)
# df_upd = df_upd.drop(['column_2'], axis=1)
rest_df_upd = rest_df_upd.drop(['original_location'], axis=1)
rest_df_upd['country_origin'] = rest_df_upd['country']
rest_df_upd['country'] = rest_df_upd.apply(lambda x: theUK(x['country']),axis=1)
rest_df_upd['subregion'] = rest_df_upd.apply(lambda x: subreg[x['country']],axis=1)

rest_df_upd.head()

,restaurant_link,restaurant_name,country,region,province,city,address,latitude,longitude,claimed,...,average,poor,terrible,food,service,value,atmosphere,keywords,country_origin,subregion
0,g10001637-d10002227,Le 147,France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,Claimed,...,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN,France,West
1,g10001637-d14975787,Le Saint Jouvent,France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,Unclaimed,...,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,France,West
2,g10002858-d4586832,Au Bout du Pont,France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,Claimed,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,France,West
3,g10002986-d3510044,Le Relais de Naiade,France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,Claimed,...,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN,France,West
4,g10022428-d9767191,Relais Du MontSeigne,France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,Unclaimed,...,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN,France,West

In [26]:
boolean_dict = {
    'N': False,
    'Y': True
}

flag_columns = ['vegetarian_friendly','vegan_options','gluten_free']
for col in flag_columns:
    rest_df_upd = rest_df_upd.replace({col: boolean_dict})

rest_df_upd[flag_columns].head()

   vegetarian_friendly  vegan_options  gluten_free
0                False          False        False
1                False          False        False
2                False          False        False
3                False          False        False
4                False          False        False

<a id="2"></a>

# 2. EDA.... VALIDATION ....

In [223]:
def features_to_flags(df, feature_col_list, threshold):
    for col in feature_col_list:
        top_tags = [f[0] for f in rating_of_column_values(df, col, separator=', ') if f[1] >= threshold * len(df)]
        for t in top_tags:
            df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
        df = df.drop(col, axis=1)
    return df

In [41]:
drop_columns = [
#     'original_location', # already deleted
    'address',
    'claimed',
    'awards',
    'popularity_detailed',
    'popularity_generic',
    'price_range', # too detailed
    'open_days_per_week',
    'open_hours_per_week',
    'working_shifts_per_week',
    
    'vegetarian_friendly','vegan_options','gluten_free', # flags + duplicated of 'special_diets'

    'excellent','very_good','average','poor','terrible',
    'default_language',
    'reviews_count_in_default_language',
    'keywords'  # a lot of NaN
]

In [ ]:
# exceeded?
# 'top_tags'


address_columns = [
    'restaurant_link',
    'restaurant_name',
    'country','region','province','city', #'address',
    'latitude','longitude'
]

schedule_columns = [
    'features',
    'price_level', 
#     'price_range',
    'original_open_hours',
#     'open_days_per_week',
#     'open_hours_per_week',
#     'working_shifts_per_week'
]

menu_columns = [
    'meals','cuisines','special_diets' #,
#     'vegetarian_friendly','vegan_options','gluten_free' # flags + duplicated of 'special_diets'
]

rating_columns = [
    'avg_rating',
    'total_reviews_count',
#     'excellent','very_good','average','poor','terrible',
    'food','service','value','atmosphere'
]

In [ ]:
price_level_dict = {
    '€': 'Cheap Eats',
    '€€-€€€': 'Mid-range',
    '€€€€': 'Fine Dining'
}

# kek = ger_df[['top_tags','price_level']]
# kek.head(15)

In [38]:
rest_df_short.groupby(['country'])['province'].nunique()
# region

country
Austria             16
Belgium             10
Bulgaria            27
Croatia             22
Czech Republic      14
Denmark             19
Finland             11
France              92
Germany             80
Greece              73
Hungary             19
Ireland             26
Italy              121
Poland              16
Portugal            27
Romania             41
Slovakia             2
Spain              135
Sweden              23
The Netherlands     12
United Kingdom     548
Name: province, dtype: int64

In [42]:
rest_df_short = rest_df_upd.drop(drop_columns, axis=1)
rest_df_short.head()

,restaurant_link,restaurant_name,country,region,province,city,latitude,longitude,top_tags,price_level,...,features,original_open_hours,avg_rating,total_reviews_count,food,service,value,atmosphere,country_origin,subregion
0,g10001637-d10002227,Le 147,France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,45.961674,1.169131,"Cheap Eats, French",€,...,"Reservations, Seating, Wheelchair Accessible, ...",NaN,4.0,36.0,4.0,4.5,4.0,NaN,France,West
1,g10001637-d14975787,Le Saint Jouvent,France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,45.957040,1.205480,Cheap Eats,€,...,NaN,NaN,4.0,5.0,NaN,NaN,NaN,NaN,France,West
2,g10002858-d4586832,Au Bout du Pont,France,Centre-Val de Loire,Berry,Rivarennes,46.635895,1.386133,"Cheap Eats, French, European",€,...,"Reservations, Seating, Table Service, Wheelcha...",NaN,5.0,13.0,NaN,NaN,NaN,NaN,France,West
3,g10002986-d3510044,Le Relais de Naiade,France,Nouvelle-Aquitaine,Correze,Lacelle,45.642610,1.824460,"Cheap Eats, French",€,...,"Reservations, Seating, Serves Alcohol, Table S...",NaN,4.0,34.0,4.5,4.5,4.5,NaN,France,West
4,g10022428-d9767191,Relais Du MontSeigne,France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,44.208860,2.960470,"Mid-range, French",€€-€€€,...,"Reservations, Seating, Wheelchair Accessible, ...",NaN,4.5,11.0,4.5,4.5,4.5,NaN,France,West

In [233]:
# for classification by price_level:

rest_df_clf = rest_df_short.drop([
    'restaurant_name', 'city', 'longitude','latitude', 'original_open_hours', 'country_origin','subregion',
    'avg_rating','total_reviews_count', 'food','service','value','atmosphere'
    ,'top_tags'  # without 'top_tags' because this is repeatition
    ,'restaurant_link'
], axis=1)
rest_df_clf = rest_df_clf[rest_df_clf['price_level'].notna()]
rest_df_clf.head()

,country,region,province,price_level,meals,cuisines,special_diets,features
0,France,Nouvelle-Aquitaine,Haute-Vienne,€,"Lunch, Dinner",French,NaN,"Reservations, Seating, Wheelchair Accessible, ..."
1,France,Nouvelle-Aquitaine,Haute-Vienne,€,NaN,NaN,NaN,NaN
2,France,Centre-Val de Loire,Berry,€,"Dinner, Lunch, Drinks","French, European",NaN,"Reservations, Seating, Table Service, Wheelcha..."
3,France,Nouvelle-Aquitaine,Correze,€,"Lunch, Dinner",French,NaN,"Reservations, Seating, Serves Alcohol, Table S..."
4,France,Occitanie,Aveyron,€€-€€€,"Lunch, Dinner",French,NaN,"Reservations, Seating, Wheelchair Accessible, ..."

In [225]:
# feature_col_list = ['meals','cuisines','special_diets','features']
# rest_df_clf3 = features_to_flags(rest_df_clf, feature_col_list, threshold=0.00) # 0.02
# rest_df_clf3.head()

In [243]:
rest_df_clf[['country','province']][rest_df_clf['country'] == 'The Netherlands']\
    .groupby(['country','province']).value_counts()
# 'region',

country          province
The Netherlands  Drenthe Province           460
                 Flevoland Province         252
                 Friesland Province         724
                 Gelderland Province       2034
                 Groningen Province         539
                 Limburg Province          1654
                 North Brabant Province    2704
                 North Holland Province    6111
                 Overijssel Province       1053
                 South Holland Province    4418
                 Utrecht Province          1530
                 Zeeland Province           878
dtype: int64

In [276]:
dutch_df = rest_df_clf[rest_df_clf['country'] == 'The Netherlands'].drop(['country','region'], axis=1)

# dummies without not popular options of feature columns
feature_col_list = ['meals','cuisines','special_diets','features']
dutch_df = features_to_flags(dutch_df, feature_col_list, threshold=0.02) # 0.02

dutch_df.head()

,province,price_level,meals_Dinner,meals_Lunch,meals_Brunch,meals_Drinks,meals_Breakfast,meals_After-hours,cuisines_European,cuisines_Dutch,...,features_Seating,features_Table Service,features_Wheelchair Accessible,features_Serves Alcohol,features_Takeout,features_Outdoor Seating,features_Free Wifi,features_Highchairs Available,features_Accepts Credit Cards,features_Full Bar
155289,North Brabant Province,€€-€€€,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
155290,North Brabant Province,€,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
155291,Limburg Province,€€-€€€,1,1,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
155292,Limburg Province,€€-€€€,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
155294,South Holland Province,€€-€€€,1,1,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [245]:
rest_df_clf[['country','region']][rest_df_clf['country'] == 'Italy']\
    .groupby(['country','region']).value_counts()
# 'region', 'province'

country  region
Italy    Abruzzo                   4229
         Basilicata                1316
         Calabria                  4391
         Campania                 13370
         Emilia-Romagna           13506
         Friuli Venezia Giulia     3653
         Lazio                    18462
         Liguria                   7078
         Lombardy                 24512
         Marche                    4647
         Molise                     707
         Piedmont                 12221
         Puglia                    9582
         Sardinia                  5190
         Sicily                   11658
         Trentino-Alto Adige       4756
         Tuscany                  15158
         Umbria                    2716
         Valle d'Aosta              992
         Veneto                   13872
dtype: int64

In [246]:
italian_df = rest_df_clf[rest_df_clf['country'] == 'Italy'].drop(['country','province'], axis=1)

# dummies without not popular options of feature columns
feature_col_list = ['meals','cuisines','special_diets','features']
italian_df = features_to_flags(italian_df, feature_col_list, threshold=0.02) # 0.02

italian_df.head()

,region,price_level,meals_Dinner,meals_Lunch,meals_Breakfast,meals_After-hours,meals_Drinks,meals_Brunch,cuisines_Italian,cuisines_Mediterranean,...,features_Wheelchair Accessible,features_Serves Alcohol,features_Takeout,features_Outdoor Seating,features_Highchairs Available,features_Accepts Credit Cards,features_Full Bar,features_Parking Available,features_Free Wifi,features_Wine and Beer
650043,Friuli Venezia Giulia,€,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
650045,Friuli Venezia Giulia,€,1,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
650046,Trentino-Alto Adige,€,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
650047,Emilia-Romagna,€,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
650048,Emilia-Romagna,€€-€€€,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [247]:
dutch_df.groupby('price_level').size()

price_level
€          4138
€€-€€€    17497
€€€€        722
dtype: int64

In [248]:
italian_df.groupby('price_level').size()

price_level
€          60821
€€-€€€    104754
€€€€        6441
dtype: int64

In [252]:
def features_percentage(df):
    features_percent_df = (df.select_dtypes(include=['int64']).sum() / df.shape[0] * 100.).sort_values(ascending=False)
    return features_percent_df

In [277]:
features_percentage(dutch_df)

cuisines_European                    60.401664
meals_Dinner                         56.863622
special_diets_Vegetarian Friendly    54.488527
cuisines_Dutch                       48.163886
meals_Lunch                          43.986224
meals_Brunch                         20.669142
cuisines_Seafood                     20.526010
special_diets_Vegan Options          16.303619
features_Reservations                16.223107
features_Seating                     16.066556
special_diets_Gluten Free Options    15.337478
meals_Drinks                         13.405197
meals_Breakfast                      13.288903
features_Table Service               12.765577
cuisines_International               12.604553
features_Wheelchair Accessible       10.967482
cuisines_Asian                       10.502304
cuisines_Bar                         10.148947
cuisines_Italian                      9.701659
cuisines_French                       8.422418
cuisines_Cafe                         7.831999
features_Serves Alcohol               7.559154
cuisines_Mediterranean                6.955316
cuisines_Pub                          6.087579
features_Takeout                      5.139330
features_Outdoor Seating              5.067764
cuisines_Chinese                      4.687570
meals_After-hours                     4.468399
cuisines_Pizza                        4.343159
cuisines_American                     4.141880
cuisines_Fast food                    3.578298
cuisines_Sushi                        3.524623
cuisines_Grill                        3.399383
cuisines_Japanese                     3.394910
cuisines_Healthy                      3.068390
features_Free Wifi                    3.001297
features_Highchairs Available         2.826855
features_Accepts Credit Cards         2.392987
cuisines_Contemporary                 2.357204
cuisines_Indonesian                   2.321421
features_Full Bar                     2.254328
cuisines_Spanish                      2.138033
dtype: float64

In [250]:
features_percentage(italian_df)

cuisines_Italian                     82.209213
meals_Dinner                         52.840433
meals_Lunch                          46.721817
special_diets_Vegetarian Friendly    43.212841
cuisines_Mediterranean               32.818459
cuisines_Pizza                       28.068901
features_Seating                     26.582992
features_Reservations                24.433774
cuisines_Seafood                     23.730932
features_Table Service               22.939727
features_Wheelchair Accessible       19.794670
special_diets_Gluten Free Options    18.056460
special_diets_Vegan Options          15.924100
cuisines_Bar                         15.679355
meals_Breakfast                      15.245675
features_Serves Alcohol              15.175914
meals_After-hours                    12.791833
meals_Drinks                         12.683123
features_Takeout                     12.527904
meals_Brunch                          8.988699
cuisines_Southern-Italian             7.730676
cuisines_Pub                          7.676030
features_Outdoor Seating              7.541159
cuisines_Cafe                         7.311529
cuisines_European                     7.281299
cuisines_Barbecue                     6.473816
cuisines_Central-Italian              5.357641
features_Highchairs Available         5.180332
features_Accepts Credit Cards         5.134406
cuisines_Northern-Italian             5.108827
features_Full Bar                     4.367036
cuisines_Fast food                    4.196703
features_Parking Available            3.035183
cuisines_Tuscan                       2.962515
cuisines_Asian                        2.897986
features_Free Wifi                    2.882290
cuisines_Campania                     2.859618
cuisines_Wine Bar                     2.777649
cuisines_Neapolitan                   2.753232
features_Wine and Beer                2.671263
cuisines_Sicilian                     2.528253
cuisines_Japanese                     2.477676
cuisines_Sushi                        2.433495
cuisines_American                     2.354432
cuisines_Chinese                      2.247465
dtype: float64

In [278]:
dutch_features_percent_df = features_percentage(dutch_df)
dutch_df2 = dutch_df[
    list(dutch_df.select_dtypes(include=['object'])) + 
    list(dutch_features_percent_df[dutch_features_percent_df.values >= 10].index)
]
dutch_df2

,province,price_level,cuisines_European,meals_Dinner,special_diets_Vegetarian Friendly,cuisines_Dutch,meals_Lunch,meals_Brunch,cuisines_Seafood,special_diets_Vegan Options,features_Reservations,features_Seating,special_diets_Gluten Free Options,meals_Drinks,meals_Breakfast,features_Table Service,cuisines_International,features_Wheelchair Accessible,cuisines_Asian,cuisines_Bar
155289,North Brabant Province,€€-€€€,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0
155290,North Brabant Province,€,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
155291,Limburg Province,€€-€€€,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0
155292,Limburg Province,€€-€€€,1,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
155294,South Holland Province,€€-€€€,1,1,1,1,1,0,1,0,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185073,North Holland Province,€,1,1,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0
185074,Gelderland Province,€€-€€€,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
185075,Gelderland Province,€€-€€€,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
185077,Gelderland Province,€€-€€€,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
185079,Friesland Province,€€-€€€,1,1,1,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0

In [285]:
italian_features_percent_df = features_percentage(italian_df)
italian_df2 = italian_df[
    list(italian_df.select_dtypes(include=['object'])) + 
    list(italian_features_percent_df[italian_features_percent_df.values >= 10].index)
]
italian_df2.head()

,region,price_level,cuisines_Italian,meals_Dinner,meals_Lunch,special_diets_Vegetarian Friendly,cuisines_Mediterranean,cuisines_Pizza,features_Seating,features_Reservations,...,features_Table Service,features_Wheelchair Accessible,special_diets_Gluten Free Options,special_diets_Vegan Options,cuisines_Bar,meals_Breakfast,features_Serves Alcohol,meals_After-hours,meals_Drinks,features_Takeout
650043,Friuli Venezia Giulia,€,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
650045,Friuli Venezia Giulia,€,1,1,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
650046,Trentino-Alto Adige,€,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
650047,Emilia-Romagna,€,1,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
650048,Emilia-Romagna,€€-€€€,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
# dutch_df5 = pd.get_dummies(dutch_df4, prefix=None, prefix_sep='_', columns=feature_col_list)
# # dummy_na=False, , sparse=False, drop_first=False, dtype=None
# dutch_df5

<a id="3"></a>

# 3. Model Fitting & Evaluation

In [255]:
from sklearn.model_selection import train_test_split, GridSearchCV, KFold
# from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn.preprocessing import LabelEncoder
# from sklearn.preprocessing import StandardScaler, PowerTransformer, MinMaxScaler

from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score, accuracy_score

In [282]:
def splitting_country_dataset(df, target_col):
    '''
    This function: 
    - encodes categorial features;
    - defines the target variable;
    - split the dataset into train and test.
    '''
    df2 = df[list(df)]
    
#     to labelencode all categorial variables
    le_dict = {}
    for cat_col in df2.select_dtypes(include=['object']):
        le_dict[cat_col] = LabelEncoder()
        df2[cat_col] = le_dict[cat_col].fit_transform(df2[cat_col])
        print(cat_col)
        print(dict(zip(le_dict[cat_col].classes_, range(len(le_dict[cat_col].classes_)))))
        print()
    
    X = df2.drop(target_col, axis=1) # Features
    y = df2[target_col] # Target variable

    # Normalize the numeric features
    # scaler = StandardScaler()
    # X[num_names_1] = scaler.fit_transform(X[num_names_1])

    # Split the data into a training set and a test set
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    
    return X_train, X_test, y_train, y_test

In [283]:
# X_train, X_test, y_train, y_test = splitting_country_dataset(dutch_df2, 'price_level')

province
{'Drenthe Province': 0, 'Flevoland Province': 1, 'Friesland Province': 2, 'Gelderland Province': 3, 'Groningen Province': 4, 'Limburg Province': 5, 'North Brabant Province': 6, 'North Holland Province': 7, 'Overijssel Province': 8, 'South Holland Province': 9, 'Utrecht Province': 10, 'Zeeland Province': 11}

price_level
{'€': 0, '€€-€€€': 1, '€€€€': 2}

In [286]:
X_train, X_test, y_train, y_test = splitting_country_dataset(italian_df2, 'price_level')

region
{'Abruzzo': 0, 'Basilicata': 1, 'Calabria': 2, 'Campania': 3, 'Emilia-Romagna': 4, 'Friuli Venezia Giulia': 5, 'Lazio': 6, 'Liguria': 7, 'Lombardy': 8, 'Marche': 9, 'Molise': 10, 'Piedmont': 11, 'Puglia': 12, 'Sardinia': 13, 'Sicily': 14, 'Trentino-Alto Adige': 15, 'Tuscany': 16, 'Umbria': 17, "Valle d'Aosta": 18, 'Veneto': 19}

price_level
{'€': 0, '€€-€€€': 1, '€€€€': 2}

In [270]:
# lee = LabelEncoder()

# df2 = dutch_df2[list(dutch_df2)]
# cat_vars = list(df2.select_dtypes(include=['object']))
# df2[cat_vars] = lee.fit_transform(df2[cat_vars])
# dict(zip(lee.classes_, range(len(lee.classes_))))

In [202]:
def clf_model_implementation(model, grid, X_train, y_train, X_test, y_test):
    '''
    This function:
    - fits and returns classification model with GridSearchCV;
    - prints confusion matrix and classification report.
    '''
    mod = model()
    mod_cv = GridSearchCV(mod, grid, cv=10)
    mod_cv.fit(X_train, y_train)
    
    print("Tuned hyperparameters:", mod_cv.best_params_)
    mod = model(**mod_cv.best_params_)
    mod.fit(X_train, y_train)
    y_pred_mod = mod.predict(X_test)

    print("Confusion matrix:\n", confusion_matrix(y_test, y_pred_mod))
    print("Classification report:\n", classification_report(y_test, y_pred_mod))   
    
    return mod

In [ ]:
# columns - predicted
# rows - actual

# for row in confusion_matrix(y_test, y_pred_knn).T:
#     print(row)
#     for i in row:
#         print(i / sum(row))
        
# precision == column[i] / sum(column)
# recall == row[i] / sum(row)
# support == sum(row)

<a id="3_logreg"></a>

## 3.1. Logistic Regression

In [209]:
grid = {
    "C": np.logspace(-2, 1, 4), # np.logspace(-3, 3, 7) - from 0.001 to 1000 by 7 steps
    "penalty": ["l1", "l2"], # , "elasticnet", None
    "multi_class": ["multinomial"], # "auto", "ovr", 
    "max_iter": [1000],
    "solver": ['lbfgs', 'newton-cg'] # , 'sag', 'saga'
    # For multiclass problems, only ‘newton-cg’, ‘sag’, ‘saga’ and ‘lbfgs’ handle multinomial loss;
}

logreg = clf_model_implementation(LogisticRegression, grid, X_train, y_train, X_test, y_test)

/opt/homebrew/lib/python3.11/site-packages/sklearn/model_selection/_validation.py:378: FitFailedWarning:
80 fits failed out of a total of 160.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py", line 54, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py", line 54, in _check_solver
    raise ValueError(
ValueError: Solver newton-cg supports only 'l2' or 'none' penalties, got l1 penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/opt/homebrew/lib/python3.11/site-packages/sklearn/model_selection/_search.py:953: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.78465134 0.78465134        nan        nan
 0.78733521 0.78733521        nan        nan 0.78682399 0.78682399
        nan        nan 0.78676009 0.78676009]
  warnings.warn(

Tuned hyperparameters: {'C': 0.1, 'max_iter': 1000, 'multi_class': 'multinomial', 'penalty': 'l2', 'solver': 'lbfgs'}
Confusion matrix:
 [[ 147 1096    0]
 [  99 5156    1]
 [   1  208    0]]
Classification report:
               precision    recall  f1-score   support

           0       0.60      0.12      0.20      1243
           1       0.80      0.98      0.88      5256
           2       0.00      0.00      0.00       209

    accuracy                           0.79      6708
   macro avg       0.46      0.37      0.36      6708
weighted avg       0.74      0.79      0.73      6708

<a id="3_svm"></a>

## 3.2. SVM

In [212]:
grid = {
    "C": np.logspace(-2, 1, 4), # from 0.001 to 1000 by 7 steps
    "penalty": ["l1", "l2"],
    "loss": ["hinge", "squared_hinge"],
    "max_iter": [1000]
}
# C=0.01, loss='squared_hinge', penalty='l2'
svm = clf_model_implementation(LinearSVC, grid, X_train, y_train, X_test, y_test)

/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/model_selection/_validation.py:378: FitFailedWarning:
80 fits failed out of a total of 160.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_classes.py", line 274, in fit
    self.coef_, self.intercept_, n_iter_ = _fit_liblinear(
                                           ^^^^^^^^^^^^^^^
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py", line 1223, in _fit_liblinear
    solver_type = _get_liblinear_solver_type(multi_class, penalty, loss, dual)
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py", line 1062, in _get_liblinear_solver_type
    raise ValueError(
ValueError: Unsupported set of arguments: The combination of penalty='l1' and loss='hinge' is not supported, Parameters: penalty='l1', loss='hinge', dual=True

--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_classes.py", line 274, in fit
    self.coef_, self.intercept_, n_iter_ = _fit_liblinear(
                                           ^^^^^^^^^^^^^^^
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py", line 1223, in _fit_liblinear
    solver_type = _get_liblinear_solver_type(multi_class, penalty, loss, dual)
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py", line 1062, in _get_liblinear_solver_type
    raise ValueError(
ValueError: Unsupported set of arguments: The combination of penalty='l1' and loss='squared_hinge' are not supported when dual=True, Parameters: penalty='l1', loss='squared_hinge', dual=True

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/opt/homebrew/lib/python3.11/site-packages/sklearn/model_selection/_search.py:953: UserWarning: One or more of the test scores are non-finite: [       nan 0.78222253        nan 0.78503485        nan 0.78222253
        nan 0.78561005        nan 0.78222253        nan 0.78573785
        nan 0.78222253        nan 0.76132833]
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Tuned hyperparameters: {'C': 1.0, 'loss': 'squared_hinge', 'max_iter': 1000, 'penalty': 'l2'}
Confusion matrix:
 [[ 102 1141    0]
 [  65 5191    0]
 [   1  208    0]]
Classification report:
               precision    recall  f1-score   support

           0       0.61      0.08      0.14      1243
           1       0.79      0.99      0.88      5256
           2       0.00      0.00      0.00       209

    accuracy                           0.79      6708
   macro avg       0.47      0.36      0.34      6708
weighted avg       0.73      0.79      0.72      6708

/opt/homebrew/lib/python3.11/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

<a id="3_nb"></a>

## 3.3. Naive Bayes

In [292]:
nb = clf_model_implementation(GaussianNB, {}, X_train, y_train, X_test, y_test)

Tuned hyperparameters: {}
Confusion matrix:
 [[12829  3987  1550]
 [12174 11829  7373]
 [  479   371  1013]]
Classification report:
               precision    recall  f1-score   support

           0       0.50      0.70      0.59     18366
           1       0.73      0.38      0.50     31376
           2       0.10      0.54      0.17      1863

    accuracy                           0.50     51605
   macro avg       0.45      0.54      0.42     51605
weighted avg       0.63      0.50      0.52     51605

<a id="3_knn"></a>

## 3.4. k-Nearest Neighbors

In [289]:
grid = {
    "n_neighbors": [6],
    "leaf_size": [12],
    "algorithm": ['auto']
#     for dutch:
#     "n_neighbors": range(4, 10, 2),
#     "leaf_size": range(20, 41, 10),
#     "algorithm": ['auto', 'ball_tree']
}

knn = clf_model_implementation(KNeighborsClassifier, grid, X_train, y_train, X_test, y_test)

Tuned hyperparameters: {'algorithm': 'auto', 'leaf_size': 12, 'n_neighbors': 6}
Confusion matrix:
 [[10718  7631    17]
 [ 8766 22522    88]
 [  308  1542    13]]
Classification report:
               precision    recall  f1-score   support

           0       0.54      0.58      0.56     18366
           1       0.71      0.72      0.71     31376
           2       0.11      0.01      0.01      1863

    accuracy                           0.64     51605
   macro avg       0.45      0.44      0.43     51605
weighted avg       0.63      0.64      0.63     51605

<a id="3_tree"></a>

## 3.5. Decision Tree

In [290]:
grid = {
    "min_samples_split": range(2,20,2),
    "max_depth": range(2,10,2),
#     "criterion": ['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],
    "splitter": ['best', 'random']
}

tree = clf_model_implementation(DecisionTreeClassifier, grid, X_train, y_train, X_test, y_test)

Tuned hyperparameters: {'max_depth': 8, 'min_samples_split': 6, 'splitter': 'random'}
Confusion matrix:
 [[ 9399  8967     0]
 [ 6078 25296     2]
 [  285  1577     1]]
Classification report:
               precision    recall  f1-score   support

           0       0.60      0.51      0.55     18366
           1       0.71      0.81      0.75     31376
           2       0.33      0.00      0.00      1863

    accuracy                           0.67     51605
   macro avg       0.55      0.44      0.43     51605
weighted avg       0.65      0.67      0.65     51605

<a id="3_forest"></a>

## 3.6. Random Forest

In [296]:
grid = {
    "n_estimators": [200, 300], # range(100, 400, 100)
    "max_depth": [8, 10], # range(4, 10, 2)
    "min_samples_split": [20, 30], # range(20, 40, 10)
    "n_jobs": [-1],
    "random_state": [42]
}

forest = clf_model_implementation(RandomForestClassifier, grid, X_train, y_train, X_test, y_test)

Tuned hyperparameters: {'max_depth': 10, 'min_samples_split': 20, 'n_estimators': 300, 'n_jobs': -1, 'random_state': 42}
Confusion matrix:
 [[ 7652 10714     0]
 [ 3991 27385     0]
 [  118  1745     0]]
Classification report:
               precision    recall  f1-score   support

           0       0.65      0.42      0.51     18366
           1       0.69      0.87      0.77     31376
           2       0.00      0.00      0.00      1863

    accuracy                           0.68     51605
   macro avg       0.45      0.43      0.43     51605
weighted avg       0.65      0.68      0.65     51605

/opt/homebrew/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

<a id="3_ensemble"></a>

## 3.7. Ensemble Methods

<a id="3_voting"></a>

### 3.7.1. Voting Classifier

In [ ]:
from sklearn.ensemble import VotingClassifier

<a id="3_bagging"></a>

### 3.7.2. Bagging Classifier

In [ ]:
from sklearn.ensemble import BaggingClassifier

<a id="3_adaboost"></a>

### 3.7.3. AdaBoost Classifier

In [166]:
from sklearn.ensemble import AdaBoostClassifier

In [172]:
clf_ada = AdaBoostClassifier(
#     base_estimator=logreg,
#     base_estimator=tree,
    base_estimator=forest,
    n_estimators=60,
    learning_rate=0.01,
#     loss='linear',
    random_state=42
)

clf_ada.fit(X_train, y_train)
y_pred_clf_ada = clf_ada.predict(X_test)

print("Confusion matrix:\n", confusion_matrix(y_test, y_pred_clf_ada))
print("Classification report:\n", classification_report(y_test, y_pred_clf_ada))

/opt/homebrew/lib/python3.11/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

Confusion matrix:
 [[ 145 1098    0]
 [  73 5183    0]
 [   1  208    0]]
Classification report:
               precision    recall  f1-score   support

           0       0.66      0.12      0.20      1243
           1       0.80      0.99      0.88      5256
           2       0.00      0.00      0.00       209

    accuracy                           0.79      6708
   macro avg       0.49      0.37      0.36      6708
weighted avg       0.75      0.79      0.73      6708

/opt/homebrew/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

<a id="3_gradient"></a>

### 3.7.4. Gradient Boosting Classifier

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

<a id="3_xgboost"></a>

### 3.7.5. XGBoost

In [294]:
import xgboost as xgb

In [295]:
grid = {
    "n_estimators": [200, 300], # range(100, 400, 100)
    "max_depth": [6], # range(4, 10, 2),
    "learning_rate": [0.2], # [0.1, , 0.3],
    "n_jobs": [-1],
    "objective": ['reg:squarederror'],
    "random_state": [42]
}

clf_xgb = clf_model_implementation(xgb.XGBClassifier, grid, X_train, y_train, X_test, y_test)

KeyboardInterrupt:

<a id="3_stacked"></a>

### 3.7.6. Stacked Ensembles

In [297]:
# from sklearn.ensemble

from sklearn.ensemble import StackingClassifier

# Prepare the list of tuples with the first-layer classifiers
classifiers = [
#     ('logreg', logreg),
#     ('svm', svm),
    ('nb', nb),
    ('knn', knn),
    ('tree', tree),
    ('forest', forest)
]
# Instantiate the second-layer meta estimator
clf_meta = LogisticRegression()

clf_stack = StackingClassifier(
    estimators=classifiers,
    final_estimator=clf_meta,
#     stack_method='predict_proba',
    passthrough = False
)

clf_stack.fit(X_train, y_train)
y_pred_clf_stack = clf_stack.predict(X_test)

print("Confusion matrix:\n", confusion_matrix(y_test, y_pred_clf_stack))
print("Classification report:\n", classification_report(y_test, y_pred_clf_stack))

/opt/homebrew/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Confusion matrix:
 [[ 8308 10058     0]
 [ 4528 26844     4]
 [  117  1745     1]]
Classification report:
               precision    recall  f1-score   support

           0       0.64      0.45      0.53     18366
           1       0.69      0.86      0.77     31376
           2       0.20      0.00      0.00      1863

    accuracy                           0.68     51605
   macro avg       0.51      0.44      0.43     51605
weighted avg       0.66      0.68      0.66     51605

<a id="4"></a>

# 4. Conclusion

All models show the same (for **Dutch** dataset):

- it's impossible to recognize class 2 (High)
- there are a lot of following mistakes: restaurants predicted as class 1 (Middle), but actually are class 0 (Cheap)

For **Italian** dataset: a bit better

# ========================== DRAFTS ==========================  
# ========================== DRAFTS ==========================  
# ========================== DRAFTS ==========================  
# ========================== DRAFTS ==========================

# 2. Hypothesis Testing

# 2.1 Preparing the dataset

In [31]:
ger_df = rest_df_upd[rest_df_upd['country'] == 'Germany']
print(ger_df.shape)

(115333, 44)

In [32]:
drop_columns = [
#     'original_location', # already deleted
    'claimed',
    'awards',
    'popularity_detailed',
    'popularity_generic',
    'price_range', # too detailed
    'open_days_per_week',
    'open_hours_per_week',
    'working_shifts_per_week',

    'excellent','very_good','average','poor','terrible',
    'default_language',
    'reviews_count_in_default_language',
    'keywords'  # a lot of NaN
]

In [33]:
ger_df = ger_df.drop(drop_columns, axis=1)
print(ger_df.shape)

(115333, 28)

In [45]:
# saving the dataset for Germany

# ger_df.to_csv('german_restaurants.csv', sep='\t', encoding='utf-8', index=False)

In [34]:
# ger_df = pd.read_csv('german_restaurants.csv')

In [35]:
# exceeded?
# 'top_tags'


address_columns = [
    'restaurant_link',
    'restaurant_name',
    'country','region','province','city','address',
    'latitude','longitude'
]

schedule_columns = [
    'features',
    'price_level', 
#     'price_range',
    'original_open_hours',
#     'open_days_per_week',
#     'open_hours_per_week',
#     'working_shifts_per_week'
]

menu_columns = [
    'meals','cuisines','special_diets',
    'vegetarian_friendly','vegan_options','gluten_free' # flags + duplicated of 'special_diets'
]

rating_columns = [
    'avg_rating',
    'total_reviews_count',
#     'excellent','very_good','average','poor','terrible',
    'food','service','value','atmosphere'
]

In [ ]:
# key_df = ger_df[ger_df['keywords'].notna()]
# key_df

In [36]:
price_level_dict = {
    '€': 'Cheap Eats',
    '€€-€€€': 'Mid-range',
    '€€€€': 'Fine Dining'
}

# kek = ger_df[['top_tags','price_level']]
# kek.head(15)

## 2.2 ADDING DUMMIES INSTEAD OF FEATURES COLUMNS

In [165]:
rest_df_upd.head()

,restaurant_link,restaurant_name,country,region,province,city,address,latitude,longitude,claimed,...,poor,terrible,food,service,value,atmosphere,keywords,column_2,country_origin,subregion
0,g10001637-d10002227,Le 147,France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,Claimed,...,0.0,0.0,4.0,4.5,4.0,NaN,NaN,[France],France,West
1,g10001637-d14975787,Le Saint Jouvent,France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,Unclaimed,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,[France],France,West
2,g10002858-d4586832,Au Bout du Pont,France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,Claimed,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,[France],France,West
3,g10002986-d3510044,Le Relais de Naiade,France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,Claimed,...,0.0,0.0,4.5,4.5,4.5,NaN,NaN,[France],France,West
4,g10022428-d9767191,Relais Du MontSeigne,France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,Unclaimed,...,0.0,0.0,4.5,4.5,4.5,NaN,NaN,[France],France,West

In [262]:
rest_df_core = rest_df_upd[[
    'restaurant_link', 'country', 
    'total_reviews_count', 'avg_rating', 
    'price_level', 
    'features', 'meals', 'cuisines', 'special_diets'
]]

rest_df_core['meals_cnt'] = rest_df_core['meals'].apply(lambda x: str(x).count(', ')+1 if str(x) != 'nan' else 0)
rest_df_core['cuisines_cnt'] = rest_df_core['cuisines'].apply(lambda x: str(x).count(', ')+1 if str(x) != 'nan' else 0)
rest_df_core.head()

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3807938459.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rest_df_core['meals_cnt'] = rest_df_core['meals'].apply(lambda x: str(x).count(', ')+1 if str(x) != 'nan' else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3807938459.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rest_df_core['cuisines_cnt'] = rest_df_core['cuisines'].apply(lambda x: str(x).count(', ')+1 if str(x) != 'nan' else 0)

,restaurant_link,country,total_reviews_count,avg_rating,price_level,features,meals,cuisines,special_diets,meals_cnt,cuisines_cnt
0,g10001637-d10002227,France,36.0,4.0,€,"Reservations, Seating, Wheelchair Accessible, ...","Lunch, Dinner",French,NaN,2,1
1,g10001637-d14975787,France,5.0,4.0,€,NaN,NaN,NaN,NaN,0,0
2,g10002858-d4586832,France,13.0,5.0,€,"Reservations, Seating, Table Service, Wheelcha...","Dinner, Lunch, Drinks","French, European",NaN,3,2
3,g10002986-d3510044,France,34.0,4.0,€,"Reservations, Seating, Serves Alcohol, Table S...","Lunch, Dinner",French,NaN,2,1
4,g10022428-d9767191,France,11.0,4.5,€€-€€€,"Reservations, Seating, Wheelchair Accessible, ...","Lunch, Dinner",French,NaN,2,1

In [221]:
def features_to_flags(df, feature_col_list):
    for col in feature_col_list:
        top_tags = [f[0] for f in rating_of_column_values(df, col, separator=', ') if f[1] >= 0.05 * len(df)]
        for t in top_tags:
            df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
        df = df.drop(col, axis=1)
    return df

In [230]:
# feature_col_list = ['price_level', 'features', 'meals', 'cuisines', 'special_diets']

# rest_df_flg = features_to_flags(rest_df_flg, feature_col_list)
# rest_df_flg.head()

# italy_df = features_to_flags(rest_df_flg[rest_df_flg['country'] == 'Italy'], feature_col_list)
# italy_df.head()

## 2.3 Division of Germany restaurants on 3 types by cuisines

In [256]:
def define_country_df(df, country):
    feature_col_list = ['price_level', 'features', 'meals', 'cuisines', 'special_diets']
    return features_to_flags(df[df['country'] == country], feature_col_list)

In [258]:
# cuisines_columns = [col for col in germany_df.columns if 'cuisines_' in col and '_cnt' not in col]
# cuisines_columns

In [249]:
def cuisine_type(df, cuisine_col):
    if df[cuisine_col] == 0:
        return 'no'
    elif df[cuisine_col] == 1 and df['cuisine_cnt'] == 1:
        return 'only'
    else:
        return 'one of'

def define_types_by_cuisine(df, cuisine_col): 
    cuisines_columns = [col for col in df.columns if 'cuisines_' in col and '_cnt' not in col]
    df['cuisine_cnt'] = df.apply(lambda x: sum([x[col] for col in cuisines_columns]), axis=1)
    df['cuisine_type'] = df.apply(lambda x: cuisine_type(x, cuisine_col), axis=1)
    df = df.drop(['cuisine_cnt'], axis=1)
    return df

In [253]:
def compare_by_feature2(df):

    df2 = df[
        ['restaurant_link','total_reviews_count','avg_rating','cuisine_type']
    ] # [df['total_reviews_count'] >= 20]
#     df2['feature_flg'] = df2[features_col].apply(lambda x: 1 if feature in str(x) else 0)

    df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

    df2_agg = df2.groupby('cuisine_type').agg({'restaurant_link': 'count', 'summary_score': 'sum', 'total_reviews_count': 'sum'})
    df2_agg['total_avg_rating'] = df2_agg['summary_score'] / df2_agg['total_reviews_count']

    return df2_agg[['restaurant_link', 'total_avg_rating']]

In [ ]:
def filter_with_threshold2(df):
#     size of the minimal group
    min_group_size_ratio = df['restaurant_link'].min() / df['restaurant_link'].sum()
#     ratio of difference between ratings (for group with feature and group without feature) and rating of base option (group without feature)
    diff_rating_ratio = abs((df['total_avg_rating'].max() - df['total_avg_rating'].min()) / df['total_avg_rating'].loc[0])
    
    if len(df['total_avg_rating']) == 2:
        if df['total_avg_rating'].loc[0] < df['total_avg_rating'].loc[1]:
            featured_group_rating = 'better'
        elif df['total_avg_rating'].loc[0] > df['total_avg_rating'].loc[1]:
            featured_group_rating = 'worse'
        else:
            featured_group_rating = 'the same'
    else:
        featured_group_rating = 'not applicable'
    return min_group_size_ratio, diff_rating_ratio, featured_group_rating

In [264]:
def print_significant_groups2(df, country):
#     , group_size_threshold, rating_diff_threshold
    
    country_df = define_country_df(df, country)
    cuisines_columns = [col for col in country_df.columns if 'cuisines_' in col and '_cnt' not in col]
    
    for cuisine in cuisines_columns:
        country_df2 = define_types_by_cuisine(country_df, cuisine) 
        country_df2_agg = compare_by_feature2(country_df2)
        
        print()
        print(cuisine)
        print(country_df2_agg)
        print()
        print()


#             df_compare = compare_by_feature2(df)
#             param_filter = filter_with_threshold(df_compare)
#             if (param_filter[0] > group_size_threshold 
#                 and 
#                 param_filter[1] > rating_diff_threshold
#                ):
#                 print()
#                 print(col, '-', feature)
#                 print(df_compare)
#                 print("Ratio of the smallest group:\t{0:.3f}".format(param_filter[0]))
#                 print("Variation (??):\t\t\t{0:.3f}".format(param_filter[1]))
#                 if param_filter[2] == 'not applicable':
#                     print(param_filter[2])
#                 else: 
#                     print("The featured group is " + str.upper(param_filter[2]))
            
    return 1

In [261]:
# germany_df = define_country_df(rest_df_core, 'Germany')
# germany_df2 = define_types_by_cuisine(germany_df, 'cuisines_Pizza') 
# germany_df2_agg = compare_by_feature2(germany_df2)

# germany_df2_agg

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

              restaurant_link  total_avg_rating
cuisine_type
no                     106575          4.064656
one of                   6944          3.937707
only                     1814          3.872732

In [ ]:
# feature_columns = ['price_level', 'meals', 'cuisines', 'special_diets', 'features']

# featured_cnt_threshold = 20
# group_size_threshold = 0.1
# rating_diff_threshold = 0.05

In [265]:
for country in [f[0] for f in rating_of_column_values(rest_df, 'country', separator=', ')]:
    print()
    print()
    print(str.upper(country))
    print()
    print_significant_groups2(rest_df_core, country)
# feature_columns, featured_cnt_threshold
#     , group_size_threshold, rating_diff_threshold

ITALY

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                      59651          4.033788
one of                 115514          4.065837
only                    49598          4.114026

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Mediterranean
              restaurant_link  total_avg_rating
cuisine_type
no                     166113          4.034643
one of                  57681          4.092535
only                      969          4.188410

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                     169331          4.128405
one of                  51002          3.914043
only                     4430          4.025409

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Seafood
              restaurant_link  total_avg_rating
cuisine_type
no                     181877          4.086895
one of                  39493          4.036251
only                     3393          3.985193

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                     191261          4.071529
one of                  32769          4.049503
only                      733          3.930922

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                     205282          4.070908
one of                  18545          3.994607
only                      936          4.058434

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                     208991          4.075583
one of                  12049          3.890802
only                     3723          3.915206

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Southern-Italian
              restaurant_link  total_avg_rating
cuisine_type
no                     209688          4.062075
one of                  15075          4.098068

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                     211782          4.057316
one of                  12489          4.114938
only                      492          4.025675

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Barbecue
              restaurant_link  total_avg_rating
cuisine_type
no                     213081          4.068375
one of                  11682          4.058747




SPAIN

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Spanish
              restaurant_link  total_avg_rating
cuisine_type
no                      71506          4.166442
one of                  53369          4.095530
only                    32604          3.866617

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Mediterranean
              restaurant_link  total_avg_rating
cuisine_type
no                     103146          4.047300
one of                  48824          4.124652
only                     5509          4.192728

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                     133508          4.048297
one of                  22255          4.149029
only                     1716          4.261278

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                     144113          4.099919
one of                   8579          4.007374
only                     4787          4.014048

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                     139246          4.098021
one of                  16834          4.074546
only                     1399          4.161931

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                     146762          4.089853
one of                   8817          4.161098
only                     1900          4.126549

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                     146827          4.095844
one of                   9851          4.089272
only                      801          4.189833

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                     148700          4.096292
one of                   7199          4.104070
only                     1580          3.683640




FRANCE

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_French
              restaurant_link  total_avg_rating
cuisine_type
no                      70645          3.964291
one of                  35204          4.075237
only                    49439          4.046407

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                     123451          4.013787
one of                  29852          4.066877
only                     1985          3.994397

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                     139037          4.047353
one of                  12754          4.004939
only                     3497          3.878297

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                     142759          4.042843
one of                  10268          4.019818
only                     2261          3.813097

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Mediterranean
              restaurant_link  total_avg_rating
cuisine_type
no                     144391          4.025454
one of                   8029          4.119485
only                     2868          4.202649

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Asian
              restaurant_link  total_avg_rating
cuisine_type
no                     145703          4.043727
one of                    765          4.148355
only                     8820          3.976262

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Fast food
              restaurant_link  total_avg_rating
cuisine_type
no                     146159          4.048226
one of                   3504          4.153214
only                     5625          3.455308




ENGLAND



GERMANY

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_German
              restaurant_link  total_avg_rating
cuisine_type
no                      82766          4.067180
one of                  14772          4.050218
only                    17795          3.993489

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                      94124          4.051138
one of                  17983          4.058715
only                     3226          4.052994

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                      99941          4.062290
one of                  11192          4.016125
only                     4200          3.981891

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                     103690          4.053404
one of                   4834          4.017629
only                     6809          4.139856

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Mediterranean
              restaurant_link  total_avg_rating
cuisine_type
no                     105790          4.047926
one of                   7924          4.075444
only                     1619          4.208399

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Central European
              restaurant_link  total_avg_rating
cuisine_type
no                     106364          4.046595
one of                   8969          4.078132

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                     106575          4.064656
one of                   6944          3.937707
only                     1814          3.872732




GREECE

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Greek
              restaurant_link  total_avg_rating
cuisine_type
no                      11572          4.338830
one of                  16064          4.356065
only                     6127          4.302624

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Mediterranean
              restaurant_link  total_avg_rating
cuisine_type
no                      19877          4.329275
one of                  13362          4.356255
only                      524          4.359284

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Seafood
              restaurant_link  total_avg_rating
cuisine_type
no                      28222          4.356392
one of                   5330          4.333026
only                      211          4.329437

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                      28573          4.348066
one of                   3558          4.357849
only                     1632          4.355189

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                      29411          4.335121
one of                   4144          4.389218
only                      208          4.379649

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                      28895          4.348839
one of                   4597          4.352728
only                      271          4.262208

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                      31668          4.349563
one of                   1619          4.335406
only                      476          4.341703

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                      31834          4.347260
one of                   1841          4.409061
only                       88          4.327904

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Steakhouse
              restaurant_link  total_avg_rating
cuisine_type
no                      31976          4.348486
one of                   1495          4.361232
only                      292          4.311871




PORTUGAL

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                      11137          4.266978
one of                  20865          4.186011
only                      590          4.226711

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Portuguese
              restaurant_link  total_avg_rating
cuisine_type
no                      11240          4.279369
one of                  20485          4.186672
only                      867          4.158005

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Mediterranean
              restaurant_link  total_avg_rating
cuisine_type
no                      25725          4.172143
one of                   6672          4.241864
only                      195          4.427437

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                      29885          4.211009
one of                   2054          4.178022
only                      653          4.224958

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Seafood
              restaurant_link  total_avg_rating
cuisine_type
no                      30191          4.225976
one of                   2289          4.137606
only                      112          4.328617

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                      30610          4.210553
one of                   1308          4.188156
only                      674          4.237790

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                      29039          4.210903
one of                   2920          4.205129
only                      633          4.159041




THE NETHERLANDS

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                      14439          4.118187
one of                  14524          4.102265
only                      829          4.043622

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Dutch
              restaurant_link  total_avg_rating
cuisine_type
no                      17382          4.115364
one of                  12089          4.096016
only                      321          4.104415

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Seafood
              restaurant_link  total_avg_rating
cuisine_type
no                      25033          4.087134
one of                   4361          4.154025
only                      398          4.118220

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_International
              restaurant_link  total_avg_rating
cuisine_type
no                      26721          4.094180
one of                   2558          4.165637
only                      513          4.178365

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                      27165          4.113575
one of                   1678          4.052103
only                      949          3.966848

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Asian
              restaurant_link  total_avg_rating
cuisine_type
no                      27224          4.106098
one of                    999          4.041223
only                     1569          4.144495

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                      27519          4.100630
one of                   1551          4.160870
only                      722          4.228776

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_French
              restaurant_link  total_avg_rating
cuisine_type
no                      27749          4.086951
one of                   1887          4.316136
only                      156          4.295699

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                      27352          4.128072
one of                   2222          4.008940
only                      218          3.969260

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Mediterranean
              restaurant_link  total_avg_rating
cuisine_type
no                      28068          4.101697
one of                   1383          4.146010
only                      341          4.210693

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                      28147          4.108850
one of                   1495          4.060202
only                      150          4.084672




POLAND

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                      14389          4.191901
one of                   9461          4.208695
only                      848          4.201198

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Polish
              restaurant_link  total_avg_rating
cuisine_type
no                      15833          4.205555
one of                   8512          4.200063
only                      353          4.193727

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                      21418          4.198809
one of                   2359          4.229156
only                      921          4.192383

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                      22337          4.206623
one of                   1637          4.186167
only                      724          3.760306

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                      22443          4.194757
one of                    943          4.275761
only                     1312          4.304793

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Central European
              restaurant_link  total_avg_rating
cuisine_type
no                      23151          4.185964
one of                   1547          4.237839

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                      23344          4.207275
one of                    844          4.076857
only                      510          4.252413




BELGIUM

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                      11783          4.003688
one of                  11082          4.004711
only                      846          4.009221

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Belgian
              restaurant_link  total_avg_rating
cuisine_type
no                      13719          4.015176
one of                   9680          4.005015
only                      312          3.883157

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_French
              restaurant_link  total_avg_rating
cuisine_type
no                      19077          3.962370
one of                   3798          4.102869
only                      836          4.132245

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                      20665          4.012819
one of                   1566          3.973320
only                     1480          3.867856

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Asian
              restaurant_link  total_avg_rating
cuisine_type
no                      22171          4.010966
one of                    171          3.912852
only                     1369          3.910743

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Mediterranean
              restaurant_link  total_avg_rating
cuisine_type
no                      22284          3.993844
one of                    963          4.091940
only                      464          4.155721

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                      22007          4.014431
one of                   1528          3.929266
only                      176          4.052672

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                      22446          4.004873
one of                   1115          3.993790
only                      150          4.092561




AUSTRIA

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                       9737          4.089583
one of                  10325          4.132836
only                      425          4.130931

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Austrian
              restaurant_link  total_avg_rating
cuisine_type
no                      11083          4.091044
one of                   9146          4.139562
only                      258          4.126859

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Central European
              restaurant_link  total_avg_rating
cuisine_type
no                      17744          4.095427
one of                   2743          4.155175

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                      18282          4.121414
one of                   1389          4.110040
only                      816          4.076610

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                      18468          4.134121
one of                   1644          4.008756
only                      375          4.039313

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                      18984          4.133804
one of                   1303          3.962267
only                      200          4.058394

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_German
              restaurant_link  total_avg_rating
cuisine_type
no                      19074          4.119880
one of                   1290          4.117139
only                      123          4.085593

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_International
              restaurant_link  total_avg_rating
cuisine_type
no                      19296          4.107699
one of                    979          4.227707
only                      212          4.171850

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Mediterranean
              restaurant_link  total_avg_rating
cuisine_type
no                      19316          4.123422
one of                   1034          4.085728
only                      137          4.076328

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                      18455          4.118131
one of                   1806          4.129683
only                      226          4.124946

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                      19354          4.118784
one of                   1027          4.131525
only                      106          4.097015




SWEDEN

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                      13229          3.907584
one of                   4962          4.011996
only                      364          3.979256

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Swedish
              restaurant_link  total_avg_rating
cuisine_type
no                      14155          3.893930
one of                   4289          4.055494
only                      111          4.136596

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                      16517          3.953452
one of                    833          4.056167
only                     1205          4.046504

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                      16803          3.972865
one of                    693          3.877384
only                     1059          3.691946

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Scandinavian
              restaurant_link  total_avg_rating
cuisine_type
no                      16812          3.898576
one of                   1729          4.109858
only                       14          4.069464

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Asian
              restaurant_link  total_avg_rating
cuisine_type
no                      17475          3.959930
one of                    119          4.002696
only                      961          3.981498

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                      17507          3.965349
one of                    715          3.934185
only                      333          3.916628

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                      17072          3.984383
one of                   1217          3.854644
only                      266          3.913796

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                      17572          3.975848
one of                    825          3.792119
only                      158          3.673298




CZECH REPUBLIC

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                       8452          4.219981
one of                   6077          4.107937
only                      315          4.149178



cuisines_Czech
              restaurant_link  total_avg_rating
cuisine_type
no                       9450          4.243460
one of                   5263          4.049794
only                      131          4.001024

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                      12905          4.135475
one of                    734          4.278389
only                     1205          4.155173



cuisines_Central European
              restaurant_link  total_avg_rating
cuisine_type
no                      13176          4.178008
one of                   1668          4.103645

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                      13570          4.164095
one of                   1129          4.028210
only                      145          4.223311



cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                      13255          4.172541
one of                   1425          4.069387
only                      164          4.220908

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                      13682          4.141382
one of                    698          4.168851
only                      464          4.213719



cuisines_International
              restaurant_link  total_avg_rating
cuisine_type
no                      13811          4.124756
one of                    829          4.258593
only                      204          4.319110




SCOTLAND



IRELAND

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Irish
              restaurant_link  total_avg_rating
cuisine_type
no                       6623          4.227371
one of                   3831          4.304638
only                      749          4.258290



cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                       8311          4.228842
one of                   2644          4.308311
only                      248          4.316857

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                       8757          4.272852
one of                   1445          4.306341
only                     1001          4.168774



cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                       9179          4.287165
one of                   1954          4.259886
only                       70          3.938714

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                       9412          4.278090
one of                   1680          4.262222
only                      111          4.308532



cuisines_Fast food
              restaurant_link  total_avg_rating
cuisine_type
no                      10218          4.285556
one of                    508          3.981231
only                      477          3.964356

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                      10330          4.282452
one of                    697          4.179084
only                      176          4.020039



cuisines_Asian
              restaurant_link  total_avg_rating
cuisine_type
no                      10340          4.276318
one of                    421          4.016558
only                      442          4.330480

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                      10498          4.280224
one of                    600          4.201725
only                      105          4.312705



cuisines_Chinese
              restaurant_link  total_avg_rating
cuisine_type
no                      10601          4.279710
one of                    362          3.974199
only                      240          3.748694




DENMARK

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                       6295          4.011159
one of                   2947          4.041122
only                      243          4.068836



cuisines_Danish
              restaurant_link  total_avg_rating
cuisine_type
no                       6711          3.993993
one of                   2676          4.066266
only                       98          4.120961

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                       8197          4.034311
one of                    713          4.011559
only                      575          3.975871



cuisines_Scandinavian
              restaurant_link  total_avg_rating
cuisine_type
no                       8419          3.994545
one of                   1057          4.103592
only                        9          3.882440

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                       8638          4.034363
one of                    546          3.993135
only                      301          4.019357



cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                       8774          4.043308
one of                    439          3.892052
only                      272          3.601570

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Fast food
              restaurant_link  total_avg_rating
cuisine_type
no                       8995          4.030371
one of                    239          4.149162
only                      251          3.872809



cuisines_Asian
              restaurant_link  total_avg_rating
cuisine_type
no                       8996          4.027290
one of                     44          4.265103
only                      445          4.052935




WALES



CROATIA

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                       2980          4.256421
one of                   5296          4.220916
only                       99          4.252800



cuisines_Croatian
              restaurant_link  total_avg_rating
cuisine_type
no                       3088          4.259518
one of                   5208          4.223634
only                       79          4.099565

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Mediterranean
              restaurant_link  total_avg_rating
cuisine_type
no                       4846          4.220790
one of                   3398          4.235360
only                      131          3.983919



cuisines_Seafood
              restaurant_link  total_avg_rating
cuisine_type
no                       5656          4.241846
one of                   2653          4.215374
only                       66          4.414843

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                       7083          4.243082
one of                   1193          4.161125
only                       99          4.191120



cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                       7307          4.236086
one of                   1001          4.192803
only                       67          4.323889

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Barbecue
              restaurant_link  total_avg_rating
cuisine_type
no                       7438          4.227191
one of                    937          4.247863



cuisines_Grill
              restaurant_link  total_avg_rating
cuisine_type
no                       7681          4.222383
one of                    661          4.325325
only                       33          4.441000

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                       7708          4.230333
one of                    362          4.170887
only                      305          4.283576



cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                       6846          4.224567
one of                   1385          4.261006
only                      144          4.094841

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Central European
              restaurant_link  total_avg_rating
cuisine_type
no                       7874          4.220619
one of                    501          4.303631



cuisines_Fast food
              restaurant_link  total_avg_rating
cuisine_type
no                       7934          4.226946
one of                    303          4.366665
only                      138          4.184249




ROMANIA

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                       3974          4.229125
one of                   3646          4.058499
only                      222          4.253667



cuisines_Romanian
              restaurant_link  total_avg_rating
cuisine_type
no                       5094          4.225434
one of                   2695          3.963091
only                       53          3.984666

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                       6300          4.103328
one of                   1285          4.152129
only                      257          4.100870



cuisines_International
              restaurant_link  total_avg_rating
cuisine_type
no                       6551          4.088406
one of                   1020          4.169012
only                      271          4.382790

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                       6825          4.126676
one of                    827          4.021295
only                      190          3.674223



cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                       6886          4.089488
one of                    501          4.272544
only                      455          4.536946

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Mediterranean
              restaurant_link  total_avg_rating
cuisine_type
no                       7133          4.088498
one of                    604          4.250408
only                      105          3.875254



cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                       6929          4.127157
one of                    876          4.070914
only                       37          4.108890

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Eastern European
              restaurant_link  total_avg_rating
cuisine_type
no                       7176          4.161751
one of                    666          3.976717



cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                       7208          4.112881
one of                    572          4.102632
only                       62          4.097987

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Central European
              restaurant_link  total_avg_rating
cuisine_type
no                       7341          4.120698
one of                    501          4.081726



cuisines_American
              restaurant_link  total_avg_rating
cuisine_type
no                       7357          4.102680
one of                    419          4.245214
only                       66          4.433225

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_Fast food
              restaurant_link  total_avg_rating
cuisine_type
no                       7445          4.113457
one of                    249          4.131825
only                      148          3.818575




HUNGARY

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                       3620          4.251504
one of                   3687          4.221533
only                      124          4.405049



cuisines_Hungarian
              restaurant_link  total_avg_rating
cuisine_type
no                       4143          4.230894
one of                   3222          4.232403
only                       66          4.294465

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Central European
              restaurant_link  total_avg_rating
cuisine_type
no                       6322          4.228823
one of                   1109          4.242445



cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                       6429          4.238118
one of                    538          4.217064
only                      464          4.190452

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                       6608          4.236641
one of                    667          4.207746
only                      156          4.407335



cuisines_International
              restaurant_link  total_avg_rating
cuisine_type
no                       6654          4.216375
one of                    660          4.313201
only                      117          4.521345

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                       6896          4.242536
one of                    428          4.147858
only                      107          3.796662



cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                       6755          4.245871
one of                    603          4.161798
only                       73          4.368958

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Eastern European
              restaurant_link  total_avg_rating
cuisine_type
no                       6966          4.236469
one of                    465          4.230947



cuisines_Fast food
              restaurant_link  total_avg_rating
cuisine_type
no                       6988          4.236927
one of                    294          4.234567
only                      149          3.992601

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)

cuisines_American
              restaurant_link  total_avg_rating
cuisine_type
no                       6987          4.236016
one of                    321          4.225590
only                      123          4.176530



cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                       7005          4.243445
one of                    381          4.014713
only                       45          4.160251




FINLAND

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                       5231          3.975689
one of                   1658          4.053444
only                      483          3.915894



cuisines_Scandinavian
              restaurant_link  total_avg_rating
cuisine_type
no                       6168          3.937490
one of                   1178          4.133443
only                       26          4.259456



cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                       6193          3.987437
one of                    547          4.175617
only                      632          4.158664

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                       6571          4.035972
one of                    478          3.840165
only                      323          3.757252



cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                       6772          4.019875
one of                    493          3.899293
only                      107          3.927454



cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                       6578          4.023420
one of                    682          3.944042
only                      112          3.951488

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Asian
              restaurant_link  total_avg_rating
cuisine_type
no                       6835          4.004617
one of                     48          3.812908
only                      489          4.074131



cuisines_Fast food
              restaurant_link  total_avg_rating
cuisine_type
no                       6893          4.020035
one of                    262          3.814783
only                      217          3.759460



cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                       6951          4.029889
one of                    293          3.845577
only                      128          3.785099




BULGARIA

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                       2409          4.224220
one of                   1794          4.242219
only                      266          4.090053



cuisines_Eastern European
              restaurant_link  total_avg_rating
cuisine_type
no                       3489          4.200636
one of                    980          4.285220



cuisines_Mediterranean
              restaurant_link  total_avg_rating
cuisine_type
no                       3805          4.219329
one of                    598          4.279367
only                       66          3.879753

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                       3849          4.239865
one of                    501          4.186460
only                      119          4.275510



cuisines_International
              restaurant_link  total_avg_rating
cuisine_type
no                       3893          4.226247
one of                    438          4.268124
only                      138          4.169685



cuisines_Seafood
              restaurant_link  total_avg_rating
cuisine_type
no                       3949          4.232112
one of                    453          4.243710
only                       67          4.130137

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Barbecue
              restaurant_link  total_avg_rating
cuisine_type
no                       3958          4.243593
one of                    511          4.190008



cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                       3461          4.249214
one of                    972          4.210042
only                       36          4.186153



cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                       4003          4.252607
one of                    400          4.078843
only                       66          4.010669



cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                       4007          4.224696
one of                    262          4.462051
only                      200          4.301582

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                       4023          4.229712
one of                    417          4.264028
only                       29          4.360979



cuisines_Central European
              restaurant_link  total_avg_rating
cuisine_type
no                       4109          4.216954
one of                    360          4.282494



cuisines_Grill
              restaurant_link  total_avg_rating
cuisine_type
no                       4212          4.228529
one of                    231          4.330711
only                       26          4.241158




SLOVAKIA

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/3987613230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + '_' + t] = df[col].apply(lambda x: 1 if t in str(x) else 0)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_European
              restaurant_link  total_avg_rating
cuisine_type
no                       2793          4.196165
one of                   1053          4.114972
only                      405          4.065649



cuisines_Central European
              restaurant_link  total_avg_rating
cuisine_type
no                       3621          4.157368
one of                    630          4.114146



cuisines_Cafe
              restaurant_link  total_avg_rating
cuisine_type
no                       3652          4.116258
one of                    242          4.229092
only                      357          4.430540



cuisines_Italian
              restaurant_link  total_avg_rating
cuisine_type
no                       3841          4.143126
one of                    281          4.099083
only                      129          4.293008

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

cuisines_Pub
              restaurant_link  total_avg_rating
cuisine_type
no                       3851          4.147079
one of                    296          4.103129
only                      104          4.056854



cuisines_Pizza
              restaurant_link  total_avg_rating
cuisine_type
no                       3874          4.153836
one of                    240          4.024582
only                      137          3.742709



cuisines_Bar
              restaurant_link  total_avg_rating
cuisine_type
no                       3785          4.131265
one of                    413          4.134777
only                       53          4.522255



cuisines_International
              restaurant_link  total_avg_rating
cuisine_type
no                       3963          4.127380
one of                    194          4.228610
only                       94          4.384304



cuisines_Eastern European
              restaurant_link  total_avg_rating
cuisine_type
no                       4009          4.160427
one of                    242          4.068258




NORTHERN IRELAND

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/1323798887.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

In [ ]:
'''

FRANCE

cuisines_Fast food
              restaurant_link  total_avg_rating
cuisine_type                                   
no                     146159          4.048226
one of                   3504          4.153214
only                     5625          3.455308

'''

In [225]:
# italy_df.shape

In [224]:
# italy_df[italy_df['cuisines_cnt'] == 1].shape

In [223]:
feature_columns = list(set(italy_df.columns) - set(['restaurant_link',
 'country',
 'total_reviews_count',
 'avg_rating',
 'price_level',
 'cuisines_cnt','meals_cnt'
                                                   ]))
feature_columns

['cuisines_Seafood',
 'features_Wheelchair Accessible',
 'features_Seating',
 'features_Table Service',
 'special_diets_Gluten Free Options',
 'features_Serves Alcohol',
 'meals_Drinks',
 'special_diets_Vegetarian Friendly',
 'price_level_€',
 'features_Reservations',
 'cuisines_Mediterranean',
 'cuisines_Italian',
 'price_level_€€-€€€',
 'meals_Dinner',
 'cuisines_Pizza',
 'special_diets_Vegan Options',
 'meals_Breakfast',
 'features_Takeout',
 'meals_Lunch']

In [195]:
cuisines_columns = [col for col in feature_columns if 'cuisines_' in col]
cuisines_columns

['cuisines_Seafood',
 'cuisines_Mediterranean',
 'cuisines_Pizza',
 'cuisines_Italian']

In [182]:
pd.DataFrame(italy_df.groupby(feature_columns).size().sort_values(ascending=False))

                                                                                                                                                                                                                                                                                                                                                                         0
cuisines_Seafood features_Reservations features_Wheelchair Accessible cuisines_Mediterranean features_Seating cuisines_Pizza special_diets_Vegetarian Friendly special_diets_Vegan Options features_Table Service features_Serves Alcohol meals_Breakfast cuisines_Italian meals_Drinks meals_Dinner meals_Lunch features_Takeout special_diets_Gluten Free Options
0                0                     0                              0                      0                0              0                                 0                           0                      0                       0               0                0            0            0           0                0                                  21121
                                                                                                                                                                                                                                                          1                0            0            0           0                0                                  16480
                                                                                                                                                                                                                                          1               0                0            1            1           0                0                                   3957
                                                                                                                             1                                 0                           0                      0                       0               1                0            0            0           0                0                                   3137
                                                                                                                             0                                 0                           0                      0                       0               1                0            1            1           0                0                                   2984
...                                                                                                                                                                                                                                                                                                                                                                    ...
                 1                     1                              0                      0                0              0                                 0                           0                      1                       1               1                0            0            1           1                0                                      1
                 0                     0                              0                      1                0              0                                 1                           0                      0                       0               0                0            0            0           1                1                                      1
                                                                                             0                0              0                                 0                           0                      1                       0               0                1            1            1           0                0                                      1
                 1                     1                              0                      0                0              0                                 0                           0                      1                       1               1                0            1            1           0                0                                      1
                                       0                              0                      1                0              1                                 1                           1                      1                       0               0                0            1            0           1                1                                      1

[5978 rows x 1 columns]

In [193]:
italy_test1_df = italy_df[
    (italy_df['cuisines_Italian'] == 1) 
    & 
    (sum([italy_df[col] for col in list(set(feature_columns) - set(['cuisines_Italian']))]) == 0)
]

italy_test1_df.shape

(16480, 22)

In [194]:
italy_test1_df

,restaurant_link,country,total_reviews_count,avg_rating,price_level,features_Reservations,features_Seating,features_Table Service,features_Wheelchair Accessible,features_Serves Alcohol,...,meals_Lunch,meals_Breakfast,meals_Drinks,cuisines_Italian,cuisines_Mediterranean,cuisines_Pizza,cuisines_Seafood,special_diets_Vegetarian Friendly,special_diets_Gluten Free Options,special_diets_Vegan Options
650043,g10029467-d18338571,Italy,5.0,5.0,€,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
650054,g1005744-d14918663,Italy,2.0,4.5,NaN,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
650063,g1005933-d11961619,Italy,1.0,3.0,€€-€€€,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
650067,g1005933-d14188705,Italy,6.0,2.5,€,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
650068,g1005933-d15565333,Italy,2.0,5.0,NaN,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874758,g9710376-d11736725,Italy,0.0,NaN,€€-€€€,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
874779,g9784246-d13986483,Italy,2.0,4.0,NaN,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
874781,g9786965-d19780255,Italy,0.0,NaN,NaN,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
874790,g984172-d19268829,Italy,0.0,NaN,€€-€€€,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
874796,g984172-d8780334,Italy,6.0,4.5,NaN,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

# 2.2 Hypothesis

In [39]:
bavaria_df = ger_df[ger_df['region'] == 'Bavaria']
bavaria_df.shape

(21531, 28)

In [48]:
ger_df.groupby('region').size().sort_values(ascending=False)

region
Bavaria                       21531
North Rhine-Westphalia        21116
Baden-Wurttemberg             16236
Hesse                          9845
Lower Saxony                   9232
Berlin                         7217
Rhineland-Palatinate           6651
Saxony                         4510
Schleswig-Holstein             4206
Hamburg                        3625
Mecklenburg-West Pomerania     2634
Brandenburg                    2378
Thuringia                      1986
Saxony-Anhalt                  1799
Saarland                       1302
State of Bremen                1062
dtype: int64

In [51]:
bavaria_df = ger_df[ger_df['region'] == 'Bavaria']
bavaria_df.groupby('city').size().sort_values(ascending=False)

city
Munich          3508
Nuremberg       1113
Augsburg         474
Regensburg       379
Wurzburg         326
                ...
Rottau             1
Babensham          1
Burgwallbach       1
Lamerdingen        1
Ebersdorf          1
Length: 1707, dtype: int64

In [50]:
rhine_df = ger_df[ger_df['region'] == 'North Rhine-Westphalia']
rhine_df.groupby('city').size().sort_values(ascending=False)

city
Cologne       2399
Dusseldorf    1683
Dortmund       764
Essen          678
Bonn           653
              ...
Hembergen        1
Flueren          1
Enniger          1
Elmpt            1
Zuschen          1
Length: 462, dtype: int64

In [91]:
def compare_by_feature(df, features_col, feature):

    df2 = df[
        ['restaurant_link','total_reviews_count','avg_rating',features_col]
    ][df['total_reviews_count'] >= 20]
    df2['feature_flg'] = df2[features_col].apply(lambda x: 1 if feature in str(x) else 0)

    df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

    df2_agg = df2.groupby('feature_flg').agg({'restaurant_link': 'count', 'summary_score': 'sum', 'total_reviews_count': 'sum'})
    df2_agg['total_avg_rating'] = df2_agg['summary_score'] / df2_agg['total_reviews_count']

    return df2_agg[['restaurant_link', 'total_avg_rating']]

In [143]:
def filter_with_threshold(df):
#     size of the minimal group
    min_group_size_ratio = df['restaurant_link'].min() / df['restaurant_link'].sum()
#     ratio of difference between ratings (for group with feature and group without feature) and rating of base option (group without feature)
    diff_rating_ratio = abs((df['total_avg_rating'].max() - df['total_avg_rating'].min()) / df['total_avg_rating'].loc[0])
    
    if len(df['total_avg_rating']) == 2:
        if df['total_avg_rating'].loc[0] < df['total_avg_rating'].loc[1]:
            featured_group_rating = 'better'
        elif df['total_avg_rating'].loc[0] > df['total_avg_rating'].loc[1]:
            featured_group_rating = 'worse'
        else:
            featured_group_rating = 'the same'
    else:
        featured_group_rating = 'not applicable'
    return min_group_size_ratio, diff_rating_ratio, featured_group_rating

In [226]:
def print_significant_groups(df, feature_columns, featured_cnt_threshold, group_size_threshold, rating_diff_threshold):
    
    for col in feature_columns:
        list_of_features = [f[0] for f in rating_of_column_values(df, col, separator=', ') if f[1] >= featured_cnt_threshold]
        for feature in list_of_features:
            df_compare = compare_by_feature(df, col, feature)
            param_filter = filter_with_threshold(df_compare)
            if (param_filter[0] > group_size_threshold 
                and 
                param_filter[1] > rating_diff_threshold
               ):
                print()
                print(col, '-', feature)
                print(df_compare)
                print("Ratio of the smallest group:\t{0:.3f}".format(param_filter[0]))
                print("Variation (??):\t\t\t{0:.3f}".format(param_filter[1]))
                if param_filter[2] == 'not applicable':
                    print(param_filter[2])
                else: 
                    print("The featured group is " + str.upper(param_filter[2]))
#             else:
#                 print('the minimal group is too small or the difference < 5%')
            
    return 1

In [107]:
# filter_with_threshold(compare_by_feature(bavaria_df, 'cuisines', 'Seafood'))

In [118]:
feature_columns = ['meals', 'cuisines', 'special_diets', 'features']

featured_cnt_threshold = 20
group_size_threshold = 0.03
rating_diff_threshold = 0.05

In [162]:
print_significant_groups(bavaria_df, feature_columns, featured_cnt_threshold, group_size_threshold, rating_diff_threshold)

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                       7254          4.023327
1                        901          4.228804
Ratio of the smallest group:	0.110
Variation (??):			0.051
The featured group is BETTER

1

In [158]:
print_significant_groups(rhine_df, feature_columns, featured_cnt_threshold, group_size_threshold, rating_diff_threshold)

1

In [159]:
feature_columns = ['price_level', 'meals', 'cuisines', 'special_diets', 'features']

featured_cnt_threshold = 20
group_size_threshold = 0.1
rating_diff_threshold = 0.05

In [163]:
for country in [f[0] for f in rating_of_column_values(rest_df, 'country', separator=', ')]:
    print()
    print()
    print(str.upper(country))
    print()
    print_significant_groups(rest_df_upd[rest_df_upd['country'] == country], feature_columns, featured_cnt_threshold, group_size_threshold, rating_diff_threshold)

ITALY


cuisines - Pizza
             restaurant_link  total_avg_rating
feature_flg
0                      93297          4.129211
1                      39474          3.914583
Ratio of the smallest group:	0.297
Variation (??):			0.052
The featured group is WORSE

special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                      60261          3.896782
1                      72510          4.135452
Ratio of the smallest group:	0.454
Variation (??):			0.061
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                     101810          3.927545
1                      30961          4.216755
Ratio of the smallest group:	0.233
Variation (??):			0.074
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                     105758          3.992108
1                      27013          4.201830
Ratio of the smallest group:	0.203
Variation (??):			0.053
The featured group is BETTER

features - Reservations
             restaurant_link  total_avg_rating
feature_flg
0                     100953          4.104622
1                      31818          3.867829
Ratio of the smallest group:	0.240
Variation (??):			0.058
The featured group is WORSE

features - Seating
             restaurant_link  total_avg_rating
feature_flg
0                      93776          4.120204
1                      38995          3.846728
Ratio of the smallest group:	0.294
Variation (??):			0.066
The featured group is WORSE

features - Table Service
             restaurant_link  total_avg_rating
feature_flg
0                      98767          4.115652
1                      34004          3.840688
Ratio of the smallest group:	0.256
Variation (??):			0.067
The featured group is WORSE

features - Serves Alcohol
             restaurant_link  total_avg_rating
feature_flg
0                     107823          4.110049
1                      24948          3.854171
Ratio of the smallest group:	0.188
Variation (??):			0.062
The featured group is WORSE


SPAIN


special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                      43386          3.848150
1                      36371          4.221928
Ratio of the smallest group:	0.456
Variation (??):			0.097
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                      59273          3.878179
1                      20484          4.276662
Ratio of the smallest group:	0.257
Variation (??):			0.103
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                      60250          3.935970
1                      19507          4.300995
Ratio of the smallest group:	0.245
Variation (??):			0.093
The featured group is BETTER

features - Seating
             restaurant_link  total_avg_rating
feature_flg
0                      50103          4.174978
1                      29654          3.920557
Ratio of the smallest group:	0.372
Variation (??):			0.061
The featured group is WORSE

features - Table Service
             restaurant_link  total_avg_rating
feature_flg
0                      52596          4.163760
1                      27161          3.933475
Ratio of the smallest group:	0.341
Variation (??):			0.055
The featured group is WORSE


FRANCE


special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                      65347          3.920464
1                      25359          4.190887
Ratio of the smallest group:	0.280
Variation (??):			0.069
The featured group is BETTER

features - Seating
             restaurant_link  total_avg_rating
feature_flg
0                      50223          4.145505
1                      40483          3.842882
Ratio of the smallest group:	0.446
Variation (??):			0.073
The featured group is WORSE

features - Reservations
             restaurant_link  total_avg_rating
feature_flg
0                      56072          4.108032
1                      34634          3.888203
Ratio of the smallest group:	0.382
Variation (??):			0.054
The featured group is WORSE

features - Table Service
             restaurant_link  total_avg_rating
feature_flg
0                      55258          4.123054
1                      35448          3.868809
Ratio of the smallest group:	0.391
Variation (??):			0.062
The featured group is WORSE

features - Wheelchair Accessible
             restaurant_link  total_avg_rating
feature_flg
0                      65127          4.103110
1                      25579          3.848853
Ratio of the smallest group:	0.282
Variation (??):			0.062
The featured group is WORSE

features - Serves Alcohol
             restaurant_link  total_avg_rating
feature_flg
0                      60924          4.122992
1                      29782          3.862375
Ratio of the smallest group:	0.328
Variation (??):			0.063
The featured group is WORSE

features - Outdoor Seating
             restaurant_link  total_avg_rating
feature_flg
0                      75282          4.104970
1                      15424          3.801969
Ratio of the smallest group:	0.170
Variation (??):			0.074
The featured group is WORSE

features - Takeout
             restaurant_link  total_avg_rating
feature_flg
0                      78156          4.058162
1                      12550          3.821407
Ratio of the smallest group:	0.138
Variation (??):			0.058
The featured group is WORSE


ENGLAND



GERMANY


special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                      36594          3.994297
1                       4084          4.233758
Ratio of the smallest group:	0.100
Variation (??):			0.060
The featured group is BETTER


GREECE


special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                       6769          4.171979
1                      11148          4.382985
Ratio of the smallest group:	0.378
Variation (??):			0.051
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                      10191          4.187648
1                       7726          4.410947
Ratio of the smallest group:	0.431
Variation (??):			0.053
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                      13596          4.214118
1                       4321          4.441451
Ratio of the smallest group:	0.241
Variation (??):			0.054
The featured group is BETTER


PORTUGAL


special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                       9821          4.066712
1                       6287          4.324180
Ratio of the smallest group:	0.390
Variation (??):			0.063
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                      12751          4.059811
1                       3357          4.382099
Ratio of the smallest group:	0.208
Variation (??):			0.079
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                      12881          4.111087
1                       3227          4.395601
Ratio of the smallest group:	0.200
Variation (??):			0.069
The featured group is BETTER

THE NETHERLANDS


special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                      11166          4.006961
1                       3560          4.246004
Ratio of the smallest group:	0.242
Variation (??):			0.060
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                      11313          3.974716
1                       3413          4.267141
Ratio of the smallest group:	0.232
Variation (??):			0.074
The featured group is BETTER


POLAND


special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                       5228          4.058677
1                       3322          4.281703
Ratio of the smallest group:	0.389
Variation (??):			0.055
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                       7131          4.102561
1                       1419          4.370861
Ratio of the smallest group:	0.166
Variation (??):			0.065
The featured group is BETTER


BELGIUM


special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                       6732          3.870559
1                       5817          4.104283
Ratio of the smallest group:	0.464
Variation (??):			0.060
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                      10990          3.947841
1                       1559          4.216813
Ratio of the smallest group:	0.124
Variation (??):			0.068
The featured group is BETTER

features - Reservations
             restaurant_link  total_avg_rating
feature_flg
0                       8408          4.064110
1                       4141          3.839869
Ratio of the smallest group:	0.330
Variation (??):			0.055
The featured group is WORSE

features - Seating
             restaurant_link  total_avg_rating
feature_flg
0                       7702          4.080895
1                       4847          3.839257
Ratio of the smallest group:	0.386
Variation (??):			0.059
The featured group is WORSE

features - Table Service
             restaurant_link  total_avg_rating
feature_flg
0                       8268          4.065941
1                       4281          3.853767
Ratio of the smallest group:	0.341
Variation (??):			0.052
The featured group is WORSE

features - Serves Alcohol
             restaurant_link  total_avg_rating
feature_flg
0                       9098          4.063239
1                       3451          3.851287
Ratio of the smallest group:	0.275
Variation (??):			0.052
The featured group is WORSE

features - Outdoor Seating
             restaurant_link  total_avg_rating
feature_flg
0                      11147          4.045839
1                       1402          3.781917
Ratio of the smallest group:	0.112
Variation (??):			0.065
The featured group is WORSE


AUSTRIA


special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                       6425          4.029577
1                       1264          4.252297
Ratio of the smallest group:	0.164
Variation (??):			0.055
The featured group is BETTER


SWEDEN


cuisines - Scandinavian
             restaurant_link  total_avg_rating
feature_flg
0                       5431          3.911120
1                       1348          4.109903
Ratio of the smallest group:	0.199
Variation (??):			0.051
The featured group is BETTER

special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                       3549          3.779391
1                       3230          4.059805
Ratio of the smallest group:	0.476
Variation (??):			0.074
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                       5248          3.864677
1                       1531          4.120572
Ratio of the smallest group:	0.226
Variation (??):			0.066
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                       5523          3.818408
1                       1256          4.151133
Ratio of the smallest group:	0.185
Variation (??):			0.087
The featured group is BETTER


CZECH REPUBLIC


special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                       2765          3.906380
1                       1894          4.291221
Ratio of the smallest group:	0.407
Variation (??):			0.099
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                       3985          4.029554
1                        674          4.414193
Ratio of the smallest group:	0.145
Variation (??):			0.095
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                       4158          4.008912
1                        501          4.393317
Ratio of the smallest group:	0.108
Variation (??):			0.096
The featured group is BETTER

features - Outdoor Seating
             restaurant_link  total_avg_rating
feature_flg
0                       4113          4.203806
1                        546          3.920962
Ratio of the smallest group:	0.117
Variation (??):			0.067
The featured group is WORSE


SCOTLAND



IRELAND


special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                       3539          4.124551
1                       2768          4.332848
Ratio of the smallest group:	0.439
Variation (??):			0.051
The featured group is BETTER


DENMARK


special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                       2912          3.935338
1                       1396          4.134894
Ratio of the smallest group:	0.324
Variation (??):			0.051
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                       3696          3.959256
1                        612          4.242775
Ratio of the smallest group:	0.142
Variation (??):			0.072
The featured group is BETTER


WALES



CROATIA


special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                       1696          3.978643
1                       3074          4.292878
Ratio of the smallest group:	0.356
Variation (??):			0.079
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                       3616          4.084697
1                       1154          4.392933
Ratio of the smallest group:	0.242
Variation (??):			0.075
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                       3774          4.080692
1                        996          4.385256
Ratio of the smallest group:	0.209
Variation (??):			0.075
The featured group is BETTER


ROMANIA


cuisines - Romanian
             restaurant_link  total_avg_rating
feature_flg
0                       1358          4.239061
1                        885          3.959320
Ratio of the smallest group:	0.395
Variation (??):			0.066
The featured group is WORSE

cuisines - Cafe
             restaurant_link  total_avg_rating
feature_flg
0                       1980          4.094931
1                        263          4.362397
Ratio of the smallest group:	0.117
Variation (??):			0.065
The featured group is BETTER

special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                       1023          3.916131
1                       1220          4.183984
Ratio of the smallest group:	0.456
Variation (??):			0.068
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                       1608          3.942612
1                        635          4.254634
Ratio of the smallest group:	0.283
Variation (??):			0.079
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                       1938          3.983221
1                        305          4.283094
Ratio of the smallest group:	0.136
Variation (??):			0.075
The featured group is BETTER


HUNGARY

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                       2231          4.124633
1                        790          4.339146
Ratio of the smallest group:	0.262
Variation (??):			0.052
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                       2452          4.093224
1                        569          4.356371
Ratio of the smallest group:	0.188
Variation (??):			0.064
The featured group is BETTER


FINLAND


cuisines - Pizza
             restaurant_link  total_avg_rating
feature_flg
0                       2034          4.048825
1                        273          3.836363
Ratio of the smallest group:	0.118
Variation (??):			0.052
The featured group is WORSE

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                       1708          3.917160
1                        599          4.158295
Ratio of the smallest group:	0.260
Variation (??):			0.062
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                       1811          3.913334
1                        496          4.127653
Ratio of the smallest group:	0.215
Variation (??):			0.055
The featured group is BETTER


BULGARIA


special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                        464          4.007852
1                        952          4.288136
Ratio of the smallest group:	0.328
Variation (??):			0.070
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                        906          4.050445
1                        510          4.350758
Ratio of the smallest group:	0.360
Variation (??):			0.074
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                       1148          4.097939
1                        268          4.375679
Ratio of the smallest group:	0.189
Variation (??):			0.068
The featured group is BETTER


SLOVAKIA


special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                        633          3.981858
1                        476          4.251031
Ratio of the smallest group:	0.429
Variation (??):			0.068
The featured group is BETTER

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                        933          4.066074
1                        176          4.346839
Ratio of the smallest group:	0.159
Variation (??):			0.069
The featured group is BETTER

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                        985          4.032805
1                        124          4.390031
Ratio of the smallest group:	0.112
Variation (??):			0.089
The featured group is BETTER

features - Seating
             restaurant_link  total_avg_rating
feature_flg
0                        717          4.226483
1                        392          3.969796
Ratio of the smallest group:	0.353
Variation (??):			0.061
The featured group is WORSE

features - Reservations
             restaurant_link  total_avg_rating
feature_flg
0                        727          4.223228
1                        382          3.952131
Ratio of the smallest group:	0.344
Variation (??):			0.064
The featured group is WORSE

features - Table Service
             restaurant_link  total_avg_rating
feature_flg
0                        725          4.226344
1                        384          3.961532
Ratio of the smallest group:	0.346
Variation (??):			0.063
The featured group is WORSE

features - Serves Alcohol
             restaurant_link  total_avg_rating
feature_flg
0                        888          4.203656
1                        221          3.969141
Ratio of the smallest group:	0.199
Variation (??):			0.056
The featured group is WORSE


NORTHERN IRELAND

In [ ]:
'''
IDEALLY: if I compare by 1 feature, other features must be the same

BUT: restaurants with 'special_diets' are BETTER almost always
'''

In [ ]:
'''
CHECK correlations between features and target?
'''

In [ ]:
'''
CREATE A NEW TABLE with flags of features -- it will be fast to calculate once, not every iteration
'''

In [ ]:
'''
SPAIN

special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg                                   
0                      43386          3.848150
1                      36371          4.221928
Ratio of the smallest group:	0.456
Variation (??):			0.097
The featured group is BETTER


CZECH REPUBLIC

features - Outdoor Seating
             restaurant_link  total_avg_rating
feature_flg                                   
0                       4113          4.203806
1                        546          3.920962
Ratio of the smallest group:	0.117
Variation (??):			0.067
The featured group is WORSE
'''

In [ ]:
'''
NEED TO FILTER CASES WITH TOO SMALL SIZE OF THE SMALLEST GROUP !!!
'''

In [ ]:
'''

cuisines - Fast food
0                       7941          4.080257
1                        214          3.930997

cuisines - Sushi
0                       7887          4.080588
1                        268          3.955578

cuisines - Seafood
0                       7871          4.066961
1                        284          4.307471

cuisines - Chinese
0                       7952          4.082207
1                        203          3.736369

cuisines - Mongolian
0                       8106          4.079393
1                         49          3.516608

cuisines - Eastern European
0                       8143          4.076798
1                         12          4.604167


special_diets - Vegan Options
0                       6402          4.016112
1                       1753          4.201349

special_diets - Gluten Free Options
0                       7254          4.023327
1                        901          4.228804

'''

In [52]:
# import seaborn as sns
# import matplotlib.pyplot as plt

In [72]:
# sns.histplot(data=bavaria_df[bavaria_df['total_reviews_count'] >= 20], x='total_reviews_count', bins=200)
# plt.xlim([20, 2000])
# plt.ylim([0, 1000])
# plt.show()