In [3]:
import opendatasets as od
import pandas as pd
import os
import copy

# 1. EDA

## 1.1 Downloading the dataset

In [5]:

od.download("https://www.kaggle.com/datasets/stefanoleone992/tripadvisor-european-restaurants")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: alexandertropin
Your Kaggle Key: ········
Downloading tripadvisor-european-restaurants.zip to ./tripadvisor-european-restaurants

100%|████████████████████████████████████████| 102M/102M [00:38<00:00, 2.78MB/s]

In [6]:
 
file_path = 'tripadvisor-european-restaurants/tripadvisor_european_restaurants.csv'
rest_df = pd.read_csv(file_path)
 
rest_df.head()

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/2040020473.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  rest_df = pd.read_csv(file_path)

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,...,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,...,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN

In [7]:
# removing the big dataset


os.remove(file_path)

In [8]:
rest_df.shape

(1083397, 42)

In [9]:
rest_df.isna().sum()

restaurant_link                           0
restaurant_name                           0
original_location                         0
country                                   0
region                                50323
province                             340632
city                                 400685
address                                   0
latitude                              15790
longitude                             15790
claimed                                1842
awards                               820264
popularity_detailed                   94988
popularity_generic                    97792
top_tags                             110634
price_level                          277205
price_range                          779070
meals                                448050
cuisines                             169103
special_diets                        743141
features                             765990
vegetarian_friendly                       0
vegan_options                             0
gluten_free                               0
original_open_hours                  489565
open_days_per_week                   489565
open_hours_per_week                  489565
working_shifts_per_week              489565
avg_rating                            96636
total_reviews_count                   52235
default_language                      95193
reviews_count_in_default_language     95193
excellent                             95193
very_good                             95193
average                               95193
poor                                  95193
terrible                              95193
food                                 484072
service                              479110
value                                480705
atmosphere                           821612
keywords                             984199
dtype: int64

In [10]:
rest_df.isna().sum() / rest_df.shape[0] * 100.

restaurant_link                       0.000000
restaurant_name                       0.000000
original_location                     0.000000
country                               0.000000
region                                4.644927
province                             31.441106
city                                 36.984134
address                               0.000000
latitude                              1.457453
longitude                             1.457453
claimed                               0.170021
awards                               75.712227
popularity_detailed                   8.767608
popularity_generic                    9.026423
top_tags                             10.211769
price_level                          25.586650
price_range                          71.909928
meals                                41.356031
cuisines                             15.608590
special_diets                        68.593600
features                             70.702614
vegetarian_friendly                   0.000000
vegan_options                         0.000000
gluten_free                           0.000000
original_open_hours                  45.187960
open_days_per_week                   45.187960
open_hours_per_week                  45.187960
working_shifts_per_week              45.187960
avg_rating                            8.919722
total_reviews_count                   4.821409
default_language                      8.786530
reviews_count_in_default_language     8.786530
excellent                             8.786530
very_good                             8.786530
average                               8.786530
poor                                  8.786530
terrible                              8.786530
food                                 44.680943
service                              44.222940
value                                44.370162
atmosphere                           75.836651
keywords                             90.843800
dtype: float64

In [11]:
rest_df.dtypes

restaurant_link                       object
restaurant_name                       object
original_location                     object
country                               object
region                                object
province                              object
city                                  object
address                               object
latitude                             float64
longitude                            float64
claimed                               object
awards                                object
popularity_detailed                   object
popularity_generic                    object
top_tags                              object
price_level                           object
price_range                           object
meals                                 object
cuisines                              object
special_diets                         object
features                              object
vegetarian_friendly                   object
vegan_options                         object
gluten_free                           object
original_open_hours                   object
open_days_per_week                   float64
open_hours_per_week                  float64
working_shifts_per_week              float64
avg_rating                           float64
total_reviews_count                  float64
default_language                      object
reviews_count_in_default_language    float64
excellent                            float64
very_good                            float64
average                              float64
poor                                 float64
terrible                             float64
food                                 float64
service                              float64
value                                float64
atmosphere                           float64
keywords                              object
dtype: object

In [12]:
rest_df.loc[:, 'restaurant_link':'longitude'].head()

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470

In [13]:
rest_df.loc[:, 'claimed':'special_diets'].head()

,claimed,awards,popularity_detailed,popularity_generic,top_tags,price_level,price_range,meals,cuisines,special_diets
0,Claimed,NaN,#1 of 2 Restaurants in Saint-Jouvent,#1 of 2 places to eat in Saint-Jouvent,"Cheap Eats, French",€,NaN,"Lunch, Dinner",French,NaN
1,Unclaimed,NaN,#2 of 2 Restaurants in Saint-Jouvent,#2 of 2 places to eat in Saint-Jouvent,Cheap Eats,€,NaN,NaN,NaN,NaN
2,Claimed,NaN,#1 of 1 Restaurant in Rivarennes,#1 of 1 places to eat in Rivarennes,"Cheap Eats, French, European",€,NaN,"Dinner, Lunch, Drinks","French, European",NaN
3,Claimed,NaN,#1 of 1 Restaurant in Lacelle,#1 of 1 places to eat in Lacelle,"Cheap Eats, French",€,NaN,"Lunch, Dinner",French,NaN
4,Unclaimed,NaN,#1 of 1 Restaurant in Saint-Laurent-de-Levezou,#1 of 1 places to eat in Saint-Laurent-de-Levezou,"Mid-range, French",€€-€€€,NaN,"Lunch, Dinner",French,NaN

In [14]:
rest_df.loc[:, 'features':'working_shifts_per_week'].head()

,features,vegetarian_friendly,vegan_options,gluten_free,original_open_hours,open_days_per_week,open_hours_per_week,working_shifts_per_week
0,"Reservations, Seating, Wheelchair Accessible, ...",N,N,N,NaN,NaN,NaN,NaN
1,NaN,N,N,N,NaN,NaN,NaN,NaN
2,"Reservations, Seating, Table Service, Wheelcha...",N,N,N,NaN,NaN,NaN,NaN
3,"Reservations, Seating, Serves Alcohol, Table S...",N,N,N,NaN,NaN,NaN,NaN
4,"Reservations, Seating, Wheelchair Accessible, ...",N,N,N,NaN,NaN,NaN,NaN

In [15]:
rest_df.loc[:, 'avg_rating':'value'].head()

,avg_rating,total_reviews_count,default_language,reviews_count_in_default_language,excellent,very_good,average,poor,terrible,food,service,value
0,4.0,36.0,English,2.0,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0
1,4.0,5.0,All languages,5.0,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN
2,5.0,13.0,English,4.0,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN
3,4.0,34.0,English,1.0,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5
4,4.5,11.0,All languages,11.0,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5

In [16]:
rest_df.loc[:, 'atmosphere':'keywords'].head()

   atmosphere keywords
0         NaN      NaN
1         NaN      NaN
2         NaN      NaN
3         NaN      NaN
4         NaN      NaN

## 1.2 Looking at columns with "," separator

In [17]:
# rating of values in the column

def rating_of_column_values(df, column, separator=', '):
    df['column_2'] = df[column].str.split(separator)
    top_tags_list = list(set().union(*df['column_2'].dropna()))

    top_tags_list_2 = []
    for top_tag in top_tags_list:
        top_tags_list_2.append([top_tag, df['column_2'].dropna().map(set([top_tag]).issubset).fillna(False).value_counts()[True]])

    top_tags_list_2 = sorted(top_tags_list_2, key=lambda x: x[1], reverse=True)
    df = df.drop(['column_2'], axis=1)
    return top_tags_list_2

In [18]:
# columns with ', ' (amount and percentage)

for col in rest_df.select_dtypes(include='object').columns:
    rest_with_comma = len(rest_df[rest_df[col].str.contains(', ', na=False)])
    if rest_with_comma > 0:
        print("{0:<20s} {1:>10} {2:>10f}".format(col, rest_with_comma, round(rest_with_comma/rest_df.shape[0]*100, 2)))

restaurant_name            3930   0.360000
original_location       1083397 100.000000
city                          3   0.000000
address                 1074625  99.190000
awards                   214179  19.770000
top_tags                 850418  78.500000
meals                    522083  48.190000
cuisines                 627912  57.960000
special_diets            168200  15.530000
features                 257037  23.730000
original_open_hours      593832  54.810000
keywords                  99198   9.160000

In [19]:
rating_of_column_values(rest_df, 'awards', separator=', ')

[["Travellers' Choice", 147397],
 ['Certificate of Excellence 2017', 142887],
 ['Certificate of Excellence 2020', 140248],
 ['Certificate of Excellence 2019', 139995],
 ['Certificate of Excellence 2018', 138741],
 ['Certificate of Excellence 2016', 107686],
 ['Certificate of Excellence 2015', 66340],
 ['Certificate of Excellence 2014', 41445],
 ['Certificate of Excellence 2013', 31065],
 ['Certificate of Excellence 2012', 11377],
 ['Michelin 2021 for The Michelin Plate: Good cooking', 5796],
 ['Certificate of Excellence 2011', 4335],
 ['Michelin 2021 for Comfortable restaurant', 3687],
 ['Michelin 2021 for Simple restaurant', 3478],
 ['good value cooking', 1816],
 ['worth a stop!', 1672],
 ['Michelin 2020 for The Michelin Plate: Good cooking', 1366],
 ['Michelin 2021 for Bib Gourmand: good quality', 1323],
 ['Michelin 2021 for Very comfortable restaurant', 1301],
 ['Michelin 2021 for One Michelin Star: High quality cooking', 1292],
 ['Michelin 2020 for Comfortable restaurant', 1150],
 ['Michelin 2020 for Simple restaurant', 857],
 ['Michelin 2020 for Bib Gourmand: good quality', 493],
 ['Michelin 2020 for One Michelin Star: High quality cooking', 380],
 ['Michelin 2020 for Very comfortable restaurant', 282],
 ['worth a detour!', 258],
 ['Michelin 2021 for Two Michelin Stars: Excellent cooking', 189],
 ["Travellers' Choice Best of the Best", 165],
 ['Michelin 2021 for Extremely comfortable restaurant.', 165],
 ["Travellers' Choice 2020", 86],
 ['worth a special journey!', 74],
 ['Michelin 2020 for Two Michelin Stars: Excellent cooking', 69],
 ['Michelin 2021 for Three Michelin Stars: Exceptional cuisine', 60],
 ['Michelin 2020 for Extremely comfortable restaurant.', 32],
 ['Michelin 2021 for Luxurious restaurant', 29],
 ['Michelin 2020 for Three Michelin Stars: Exceptional cuisine', 14],
 ['Michelin 2020 for Luxurious restaurant', 1]]

In [20]:
rating_of_column_values(rest_df, 'top_tags', separator=', ')

[['Mid-range', 538207],
 ['Cheap Eats', 240351],
 ['Italian', 236822],
 ['European', 177712],
 ['Mediterranean', 155388],
 ['Vegetarian Friendly', 133520],
 ['Pizza', 113259],
 ['Cafe', 107793],
 ['French', 98892],
 ['Bar', 90677],
 ['Spanish', 82501],
 ['Seafood', 80241],
 ['British', 64133],
 ['Fast food', 58479],
 ['Pub', 53573],
 ['Asian', 45942],
 ['German', 36346],
 ['International', 32942],
 ['Quick Bites', 29544],
 ['Chinese', 29113],
 ['Dessert', 28969],
 ['Fine Dining', 28081],
 ['American', 27972],
 ['Greek', 26215],
 ['Indian', 21197],
 ['Japanese', 20717],
 ['Barbecue', 20511],
 ['Steakhouse', 18576],
 ['Portuguese', 17682],
 ['Vegan Options', 16240],
 ['Sushi', 15435],
 ['Healthy', 14077],
 ['Dutch', 14041],
 ['Bakeries', 13373],
 ['Grill', 13261],
 ['Belgian', 11558],
 ['Austrian', 11028],
 ['Central European', 11015],
 ['Turkish', 10264],
 ['Wine Bar', 9745],
 ['Contemporary', 9620],
 ['Thai', 9446],
 ['Polish', 9374],
 ['Brew Pub', 9062],
 ['Deli', 8498],
 ['Middle Eastern', 8494],
 ['Diner', 7613],
 ['Mexican', 7398],
 ['Gluten Free Options', 7357],
 ['Irish', 6496],
 ['Gastropub', 6396],
 ['Street Food', 5480],
 ['Fusion', 5447],
 ['Balti', 5155],
 ['Vietnamese', 5121],
 ['Czech', 4388],
 ['Northern-Italian', 4130],
 ['Swedish', 3598],
 ['Eastern European', 3560],
 ['Soups', 3261],
 ['Moroccan', 3199],
 ['Southern-Italian', 3190],
 ['Lebanese', 3091],
 ['South American', 3031],
 ['Latin', 3014],
 ['Scandinavian', 2864],
 ['Cantonese', 2791],
 ['Croatian', 2786],
 ['Central-Italian', 2487],
 ['Hungarian', 2305],
 ['Tuscan', 2249],
 ['African', 2191],
 ['Scottish', 2166],
 ['Brazilian', 2018],
 ['Dining bars', 1937],
 ['Danish', 1907],
 ['Caribbean', 1897],
 ['Neapolitan', 1836],
 ['Basque', 1697],
 ['Romanian', 1688],
 ['Emilian', 1635],
 ['Lombard', 1526],
 ['Sicilian', 1495],
 ['Argentinian', 1490],
 ['Romana', 1374],
 ['Korean', 1291],
 ['Speciality Food Market', 1184],
 ['Pakistani', 1133],
 ['Halal', 1050],
 ['Peruvian', 1026],
 ['Bangladeshi', 984],
 ['Catalan', 975],
 ['Arabic', 938],
 ['Campania', 773],
 ['Nepalese', 738],
 ['Hawaiian', 706],
 ['Ligurian', 674],
 ['Beer restaurants', 661],
 ['Indonesian', 650],
 ['Persian', 639],
 ['Central American', 613],
 ['Sardinian', 587],
 ['Welsh', 565],
 ['Lazio', 560],
 ['Venezuelan', 508],
 ['Russian', 503],
 ['Cajun & Creole', 495],
 ['Szechuan', 494],
 ['Hong Kong', 463],
 ['Japanese Fusion', 430],
 ['Swiss', 376],
 ['Israeli', 361],
 ['Jamaican', 340],
 ['Apulian', 336],
 ['Southwestern', 335],
 ['Afghani', 334],
 ['Ethiopian', 297],
 ['Cuban', 289],
 ['Tunisian', 247],
 ['Taiwanese', 247],
 ['Australian', 234],
 ['Sri Lankan', 228],
 ['Colombian', 223],
 ['Egyptian', 211],
 ['Philippine', 210],
 ['Central Asian', 204],
 ['Calabrian', 194],
 ['Malaysian', 183],
 ['Georgian', 174],
 ['Canadian', 169],
 ['Armenian', 165],
 ['Caucasian', 161],
 ['Mongolian', 151],
 ['Shanghai', 149],
 ['Albanian', 135],
 ['Delivery Only', 134],
 ['Cambodian', 118],
 ['Tibetan', 117],
 ['Fruit parlours', 116],
 ['Romagna', 110],
 ['Slovenian', 107],
 ['Kosher', 99],
 ['Algerian', 91],
 ['Ukrainian', 90],
 ['Chilean', 87],
 ['Dine With a Local Chef', 63],
 ['Native American', 58],
 ['Japanese sweets parlour', 57],
 ['Ecuadorean', 55],
 ['Medicinal foods', 53],
 ['Imperial Chinese', 40],
 ['Singaporean', 39],
 ['Beijing Specialties ', 36],
 ['Polynesian', 36],
 ['New Zealand', 34],
 ['Beijing cuisine', 31],
 ['Uzbek', 28],
 ['Azerbaijani', 25],
 ['NorthWestern Chinese', 25],
 ['Norwegian', 24],
 ['NorthEastern Chinese', 23],
 ['Hunan', 22],
 ['Nigerian', 21],
 ['Guatemalan', 20],
 ['Salvadoran', 19],
 ['Assyrian', 19],
 ['Bahamian', 16],
 ['Hokkaido cuisine', 15],
 ['Yunnan', 14],
 ['Fujian', 14],
 ['Anhui', 14],
 ['Xinjiang', 14],
 ['Zhejiang', 13],
 ['Latvian', 13],
 ['Burmese', 13],
 ['Kyoto cuisine', 12],
 ['Puerto Rican', 11],
 ['Costa Rican', 9],
 ['Kaiseki', 7],
 ['Nonya/Malaysian', 6],
 ['Kappo', 4],
 ['Guizhou', 2],
 ['Kyushu cuisine', 2],
 ['Jiangxi', 2],
 ['Guangxi', 2],
 ['Shandong', 2],
 ['Hangzhou', 2],
 ['Henan', 1],
 ['Hubei', 1]]

In [21]:
rating_of_column_values(rest_df, 'meals', separator=', ')

[['Dinner', 532366],
 ['Lunch', 511678],
 ['Breakfast', 181695],
 ['Drinks', 117450],
 ['Brunch', 101571],
 ['After-hours', 91200]]

In [22]:
rating_of_column_values(rest_df, 'cuisines', separator=', ')

[['Italian', 235823],
 ['European', 208436],
 ['Mediterranean', 173020],
 ['Pizza', 114070],
 ['Cafe', 109188],
 ['French', 98480],
 ['Spanish', 93191],
 ['Bar', 90508],
 ['Pub', 82113],
 ['Seafood', 81397],
 ['British', 67673],
 ['Fast food', 61154],
 ['Asian', 53658],
 ['German', 36236],
 ['International', 34727],
 ['Greek', 30774],
 ['Chinese', 29046],
 ['American', 27921],
 ['Barbecue', 26997],
 ['Healthy', 26168],
 ['Portuguese', 23781],
 ['Grill', 22019],
 ['Indian', 21119],
 ['Japanese', 20645],
 ['Central European', 20349],
 ['Steakhouse', 18511],
 ['Southern-Italian', 18191],
 ['Sushi', 17777],
 ['Wine Bar', 17482],
 ['Gastropub', 14764],
 ['Contemporary', 14665],
 ['Dutch', 14076],
 ['Diner', 13444],
 ['Deli', 11621],
 ['Middle Eastern', 11588],
 ['Central-Italian', 11582],
 ['Belgian', 11549],
 ['Turkish', 11318],
 ['Austrian', 11026],
 ['Thai', 11004],
 ['Street Food', 10743],
 ['Fusion', 10702],
 ['Northern-Italian', 10249],
 ['Polish', 9367],
 ['Brew Pub', 9145],
 ['Soups', 7931],
 ['Mexican', 7364],
 ['Vietnamese', 7005],
 ['Campania', 6617],
 ['Neapolitan', 6397],
 ['Irish', 6338],
 ['South American', 6320],
 ['Croatian', 6279],
 ['Eastern European', 5974],
 ['Balti', 5763],
 ['Czech', 5716],
 ['Tuscan', 5666],
 ['Sicilian', 5666],
 ['Dining bars', 5058],
 ['Swedish', 4723],
 ['Scottish', 4692],
 ['Scandinavian', 4474],
 ['Hungarian', 3781],
 ['Lazio', 3771],
 ['Romana', 3653],
 ['Bangladeshi', 3504],
 ['Moroccan', 3225],
 ['Lebanese', 3078],
 ['Romanian', 3062],
 ['Latin', 3032],
 ['Catalan', 2999],
 ['Danish', 2973],
 ['Lombard', 2848],
 ['Emilian', 2535],
 ['Argentinian', 2509],
 ['Ligurian', 2356],
 ['Sardinian', 2252],
 ['Beer restaurants', 2201],
 ['African', 2197],
 ['Brazilian', 2040],
 ['Arabic', 1954],
 ['Pakistani', 1897],
 ['Caribbean', 1896],
 ['Korean', 1761],
 ['Central American', 1567],
 ['Welsh', 1372],
 ['Hawaiian', 1092],
 ['Japanese Fusion', 1086],
 ['Nepalese', 1052],
 ['Peruvian', 1015],
 ['Indonesian', 955],
 ['Persian', 836],
 ['Venezuelan', 762],
 ['Apulian', 714],
 ['Russian', 672],
 ['Tunisian', 661],
 ['Israeli', 611],
 ['Afghani', 588],
 ['Cajun & Creole', 507],
 ['Cuban', 486],
 ['Central Asian', 486],
 ['Jamaican', 469],
 ['Colombian', 466],
 ['Malaysian', 454],
 ['Mongolian', 440],
 ['Taiwanese', 434],
 ['Egyptian', 415],
 ['Swiss', 388],
 ['Australian', 384],
 ['Calabrian', 367],
 ['Southwestern', 361],
 ['Ethiopian', 352],
 ['Sri Lankan', 323],
 ['Caucasian', 318],
 ['Armenian', 313],
 ['Albanian', 285],
 ['Cambodian', 278],
 ['Canadian', 266],
 ['Georgian', 254],
 ['Fruit parlours', 240],
 ['Romagna', 229],
 ['Ukrainian', 224],
 ['Algerian', 218],
 ['Philippine', 212],
 ['Medicinal foods', 194],
 ['Slovenian', 177],
 ['Tibetan', 151],
 ['Chilean', 146],
 ['Singaporean', 120],
 ['Ecuadorean', 114],
 ['Native American', 105],
 ['Norwegian', 101],
 ['Japanese sweets parlour', 96],
 ['New Zealand', 69],
 ['Beijing cuisine', 66],
 ['Polynesian', 63],
 ['Azerbaijani', 56],
 ['Assyrian', 49],
 ['Fujian', 43],
 ['Uzbek', 42],
 ['Burmese', 36],
 ['Xinjiang', 35],
 ['Yunnan', 34],
 ['Puerto Rican', 33],
 ['Guatemalan', 32],
 ['Latvian', 32],
 ['Nigerian', 28],
 ['Bahamian', 28],
 ['Salvadoran', 26],
 ['Hokkaido cuisine', 25],
 ['Costa Rican', 25],
 ['Kyoto cuisine', 18],
 ['Kaiseki', 17],
 ['Kyushu cuisine', 8],
 ['Kappo', 6],
 ['Shojin', 2]]

In [23]:
rating_of_column_values(rest_df, 'special_diets', separator=', ')

[['Vegetarian Friendly', 324017],
 ['Vegan Options', 136597],
 ['Gluten Free Options', 123497],
 ['Halal', 6709],
 ['Kosher', 298]]

In [24]:
rating_of_column_values(rest_df, 'features', separator=', ')

[['Seating', 228439],
 ['Reservations', 215387],
 ['Table Service', 191467],
 ['Wheelchair Accessible', 146385],
 ['Serves Alcohol', 129553],
 ['Takeout', 94983],
 ['Outdoor Seating', 74512],
 ['Accepts Credit Cards', 58121],
 ['Highchairs Available', 52849],
 ['Full Bar', 49332],
 ['Free Wifi', 41665],
 ['Parking Available', 27316],
 ['Wine and Beer', 25291],
 ['Delivery', 18758],
 ['Television', 17841],
 ['Accepts Visa', 17558],
 ['Accepts Mastercard', 16681],
 ['Street Parking', 14063],
 ['Free off-street parking', 12344],
 ['Digital Payments', 10863],
 ['Validated Parking', 7949],
 ['Accepts American Express', 7707],
 ['Gift Cards Available', 6103],
 ['Cash Only', 6046],
 ['Private Dining', 5075],
 ['Dog Friendly', 5064],
 ['Buffet', 4562],
 ['Family style', 4423],
 ['Live Music', 4080],
 ['Non-smoking restaurants', 2607],
 ['Waterfront', 1722],
 ['Accepts Discover', 1262],
 ['Valet Parking', 1155],
 ['Playgrounds', 1141],
 ['Beach', 668],
 ['Drive Thru', 499],
 ['BYOB', 494],
 ['Sports bars', 409],
 ['Jazz Bar', 350]]

In [25]:
# too long
# rating_of_column_values(rest_df, 'original_open_hours', separator=', ')

In [26]:
# too long
# rating_of_column_values(rest_df, 'keywords', separator=', ')

In [27]:
rating_of_column_values(rest_df, 'country', separator=', ')

[['Italy', 224763],
 ['Spain', 157479],
 ['France', 155288],
 ['England', 144681],
 ['Germany', 115333],
 ['Greece', 33763],
 ['Portugal', 32592],
 ['The Netherlands', 29792],
 ['Poland', 24698],
 ['Belgium', 23711],
 ['Austria', 20487],
 ['Sweden', 18555],
 ['Czech Republic', 14844],
 ['Scotland', 14215],
 ['Ireland', 11203],
 ['Denmark', 9485],
 ['Wales', 9134],
 ['Croatia', 8375],
 ['Romania', 7842],
 ['Hungary', 7431],
 ['Finland', 7372],
 ['Bulgaria', 4469],
 ['Slovakia', 4251],
 ['Northern Ireland', 3634]]

## 1.3 Fixing the country name

In [28]:
def theUK(country):
    if country in ['England', 'Scotland', 'Wales', 'Northern Ireland']:
        return 'United Kingdom'
    else:
        return country

def theNe(country):
    if country == 'Netherlands':
        return 'The Netherlands'
    else:
        return country

subreg = {
    'Italy': 'South',
    'Spain': 'South',
    'France': 'West',
    'United Kingdom': 'North',
#     'England': 'North',
    'Germany': 'West',
    'Greece': 'South',
    'Portugal': 'South',
    'The Netherlands': 'West',
    'Poland': 'East',
    'Belgium': 'West',
    'Austria': 'West',
    'Sweden': 'North',
    'Czech Republic': 'East',
#     'Scotland': 'North',
    'Ireland': 'North',
    'Denmark': 'North',
#     'Wales': 'North',
    'Croatia': 'South',
    'Romania': 'East',
    'Hungary': 'East',
    'Finland': 'North',
    'Bulgaria': 'East',
    'Slovakia': 'East'
#     'Northern Ireland': 'North'
}

In [29]:
rest_df_upd = copy.deepcopy(rest_df)
# df_upd = df_upd.drop(['column_2'], axis=1)
rest_df_upd = rest_df_upd.drop(['original_location'], axis=1)
rest_df_upd['country_origin'] = rest_df_upd['country']
rest_df_upd['country'] = rest_df_upd.apply(lambda x: theUK(x['country']),axis=1)
rest_df_upd['subregion'] = rest_df_upd.apply(lambda x: subreg[x['country']],axis=1)

rest_df_upd.head()

,restaurant_link,restaurant_name,country,region,province,city,address,latitude,longitude,claimed,...,poor,terrible,food,service,value,atmosphere,keywords,column_2,country_origin,subregion
0,g10001637-d10002227,Le 147,France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,Claimed,...,0.0,0.0,4.0,4.5,4.0,NaN,NaN,[France],France,West
1,g10001637-d14975787,Le Saint Jouvent,France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,Unclaimed,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,[France],France,West
2,g10002858-d4586832,Au Bout du Pont,France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,Claimed,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,[France],France,West
3,g10002986-d3510044,Le Relais de Naiade,France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,Claimed,...,0.0,0.0,4.5,4.5,4.5,NaN,NaN,[France],France,West
4,g10022428-d9767191,Relais Du MontSeigne,France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,Unclaimed,...,0.0,0.0,4.5,4.5,4.5,NaN,NaN,[France],France,West

In [30]:
boolean_dict = {
    'N': False,
    'Y': True
}

flag_columns = ['vegetarian_friendly','vegan_options','gluten_free']
for col in flag_columns:
    rest_df_upd = rest_df_upd.replace({col: boolean_dict})

rest_df_upd[flag_columns].head()

   vegetarian_friendly  vegan_options  gluten_free
0                False          False        False
1                False          False        False
2                False          False        False
3                False          False        False
4                False          False        False

# 2. Hypothesis Testing

# 2.1 Preparing the dataset

In [31]:
ger_df = rest_df_upd[rest_df_upd['country'] == 'Germany']
print(ger_df.shape)

(115333, 44)

In [32]:
drop_columns = [
#     'original_location', # already deleted
    'claimed',
    'awards',
    'popularity_detailed',
    'popularity_generic',
    'price_range', # too detailed
    'open_days_per_week',
    'open_hours_per_week',
    'working_shifts_per_week',

    'excellent','very_good','average','poor','terrible',
    'default_language',
    'reviews_count_in_default_language',
    'keywords'  # a lot of NaN
]

In [33]:
ger_df = ger_df.drop(drop_columns, axis=1)
print(ger_df.shape)

(115333, 28)

In [45]:
# saving the dataset for Germany

# ger_df.to_csv('german_restaurants.csv', sep='\t', encoding='utf-8', index=False)

In [34]:
# ger_df = pd.read_csv('german_restaurants.csv')

In [35]:
# exceeded?
# 'top_tags'


address_columns = [
    'restaurant_link',
    'restaurant_name',
    'country','region','province','city','address',
    'latitude','longitude'
]

schedule_columns = [
    'features',
    'price_level', 
#     'price_range',
    'original_open_hours',
#     'open_days_per_week',
#     'open_hours_per_week',
#     'working_shifts_per_week'
]

menu_columns = [
    'meals','cuisines','special_diets',
    'vegetarian_friendly','vegan_options','gluten_free' # flags + duplicated of 'special_diets'
]

rating_columns = [
    'avg_rating',
    'total_reviews_count',
#     'excellent','very_good','average','poor','terrible',
    'food','service','value','atmosphere'
]

In [ ]:
# key_df = ger_df[ger_df['keywords'].notna()]
# key_df

In [36]:
price_level_dict = {
    '€': 'Cheap Eats',
    '€€-€€€': 'Mid-range',
    '€€€€': 'Fine Dining'
}

# kek = ger_df[['top_tags','price_level']]
# kek.head(15)

# 2.2 Hypothesis

In [39]:
bavaria_df = ger_df[ger_df['region'] == 'Bavaria']
bavaria_df.shape

(21531, 28)

In [48]:
ger_df.groupby('region').size().sort_values(ascending=False)

region
Bavaria                       21531
North Rhine-Westphalia        21116
Baden-Wurttemberg             16236
Hesse                          9845
Lower Saxony                   9232
Berlin                         7217
Rhineland-Palatinate           6651
Saxony                         4510
Schleswig-Holstein             4206
Hamburg                        3625
Mecklenburg-West Pomerania     2634
Brandenburg                    2378
Thuringia                      1986
Saxony-Anhalt                  1799
Saarland                       1302
State of Bremen                1062
dtype: int64

In [51]:
bavaria_df = ger_df[ger_df['region'] == 'Bavaria']
bavaria_df.groupby('city').size().sort_values(ascending=False)

city
Munich          3508
Nuremberg       1113
Augsburg         474
Regensburg       379
Wurzburg         326
                ...
Rottau             1
Babensham          1
Burgwallbach       1
Lamerdingen        1
Ebersdorf          1
Length: 1707, dtype: int64

In [58]:
bavaria_df.shape

(21531, 28)

In [50]:
rhine_df = ger_df[ger_df['region'] == 'North Rhine-Westphalia']
rhine_df.groupby('city').size().sort_values(ascending=False)

city
Cologne       2399
Dusseldorf    1683
Dortmund       764
Essen          678
Bonn           653
              ...
Hembergen        1
Flueren          1
Enniger          1
Elmpt            1
Zuschen          1
Length: 462, dtype: int64

In [66]:
bavaria_df.groupby(['total_reviews_count']).size().sort_values(ascending=False)

total_reviews_count
1.0        1622
2.0        1154
3.0         911
4.0         824
5.0         766
           ...
487.0         1
491.0         1
498.0         1
502.0         1
30142.0       1
Length: 565, dtype: int64

In [69]:
bavaria_df[bavaria_df['total_reviews_count'] >= 20].shape

(8155, 28)

In [91]:
def compare_by_feature(df, features_col, feature):

    df2 = df[
        ['restaurant_link','total_reviews_count','avg_rating',features_col]
    ][df['total_reviews_count'] >= 20]
    df2['feature_flg'] = df2[features_col].apply(lambda x: 1 if feature in str(x) else 0)

    df2['summary_score'] = df2['total_reviews_count'] * df2['avg_rating']

    df2_agg = df2.groupby('feature_flg').agg({'restaurant_link': 'count', 'summary_score': 'sum', 'total_reviews_count': 'sum'})
    df2_agg['total_avg_rating'] = df2_agg['summary_score'] / df2_agg['total_reviews_count']

    return df2_agg[['restaurant_link', 'total_avg_rating']]

In [86]:
bavaria_df2_agg = compare_by_feature(bavaria_df, 'features', 'Reservations')
bavaria_df2_agg

,restaurant_link,summary_score,total_reviews_count,total_avg_rating
feature_flg,,,,
0,7594,2737880.5,670370.0,4.084133
1,561,440704.5,109164.0,4.037086

In [87]:
bavaria_df2_agg = compare_by_feature(bavaria_df, 'top_tags', 'Cheap Eats')
bavaria_df2_agg

,restaurant_link,summary_score,total_reviews_count,total_avg_rating
feature_flg,,,,
0,7060,2933890.5,720465.0,4.072218
1,1095,244694.5,59069.0,4.142520

In [88]:
bavaria_df2_agg = compare_by_feature(bavaria_df, 'meals', 'Lunch')
bavaria_df2_agg

,restaurant_link,summary_score,total_reviews_count,total_avg_rating
feature_flg,,,,
0,3071,1206941.0,291994.0,4.133445
1,5084,1971644.0,487540.0,4.044066

In [93]:
feature_columns = ['meals', 'cuisines', 'special_diets', 'features']

for col in feature_columns:
    list_of_features = [f[0] for f in rating_of_column_values(bavaria_df, col, separator=', ') if f[1] >= 20]
    for feature in list_of_features:
        print()
        print(col, '-', feature)
        print(compare_by_feature(bavaria_df, col, feature))

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/2122815118.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['column_2'] = df[column].str.split(separator)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/2122815118.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['column_2'] = df[column].str.split(separator)

meals - Dinner
             restaurant_link  total_avg_rating
feature_flg
0                       2524          4.116296
1                       5631          4.057325

meals - Lunch
             restaurant_link  total_avg_rating
feature_flg
0                       3071          4.133445
1                       5084          4.044066

meals - Breakfast
             restaurant_link  total_avg_rating
feature_flg
0                       6918          4.088402
1                       1237          3.991304

meals - Drinks
             restaurant_link  total_avg_rating
feature_flg
0                       7418          4.091320
1                        737          4.013477

meals - After-hours
             restaurant_link  total_avg_rating
feature_flg
0                       7443          4.092955
1                        712          4.034358

meals - Brunch
             restaurant_link  total_avg_rating
feature_flg
0                       7581          4.083901
1                        574          4.011632

cuisines - German
             restaurant_link  total_avg_rating
feature_flg
0                       4693          4.100658
1                       3462          4.053537

cuisines - European
             restaurant_link  total_avg_rating
feature_flg
0                       4877          4.069453
1                       3278          4.083400

cuisines - Italian
             restaurant_link  total_avg_rating
feature_flg
0                       6692          4.077330
1                       1463          4.078717

cuisines - Cafe
             restaurant_link  total_avg_rating
feature_flg
0                       7417          4.082179
1                        738          4.012761

cuisines - Mediterranean
             restaurant_link  total_avg_rating
feature_flg
0                       6882          4.070202
1                       1273          4.114993

cuisines - Central European
             restaurant_link  total_avg_rating
feature_flg
0                       6590          4.065730
1                       1565          4.103355

cuisines - Pizza
             restaurant_link  total_avg_rating
feature_flg
0                       7323          4.086886
1                        832          3.980064

cuisines - Asian
             restaurant_link  total_avg_rating
feature_flg
0                       7477          4.078484
1                        678          4.064798

cuisines - International
             restaurant_link  total_avg_rating
feature_flg
0                       7700          4.073292
1                        455          4.139349

cuisines - Pub
             restaurant_link  total_avg_rating
feature_flg
0                       7850          4.083544
1                        305          4.011288

cuisines - Greek
             restaurant_link  total_avg_rating
feature_flg
0                       7750          4.070428
1                        405          4.270724

cuisines - Bar
             restaurant_link  total_avg_rating
feature_flg
0                       7626          4.087069
1                        529          4.018815

cuisines - Diner
             restaurant_link  total_avg_rating
feature_flg
0                       7922          4.076662
1                        233          4.116852

cuisines - Fast food
             restaurant_link  total_avg_rating
feature_flg
0                       7941          4.080257
1                        214          3.930997

cuisines - Sushi
             restaurant_link  total_avg_rating
feature_flg
0                       7887          4.080588
1                        268          3.955578

cuisines - Grill
             restaurant_link  total_avg_rating
feature_flg
0                       7958          4.072682
1                        197          4.232588

cuisines - American
             restaurant_link  total_avg_rating
feature_flg
0                       7883          4.080290
1                        272          4.005765

cuisines - Seafood
             restaurant_link  total_avg_rating
feature_flg
0                       7871          4.066961
1                        284          4.307471

cuisines - Chinese
             restaurant_link  total_avg_rating
feature_flg
0                       7952          4.082207
1                        203          3.736369

cuisines - Vietnamese
             restaurant_link  total_avg_rating
feature_flg
0                       7959          4.074248
1                        196          4.237091

cuisines - Gastropub
             restaurant_link  total_avg_rating
feature_flg
0                       7983          4.080525
1                        172          4.035938

cuisines - Healthy
             restaurant_link  total_avg_rating
feature_flg
0                       7994          4.070787
1                        161          4.351420

cuisines - Thai
             restaurant_link  total_avg_rating
feature_flg
0                       7957          4.074996
1                        198          4.208484

cuisines - Turkish
             restaurant_link  total_avg_rating
feature_flg
0                       8088          4.077629
1                         67          4.061194

cuisines - Indian
             restaurant_link  total_avg_rating
feature_flg
0                       7958          4.075495
1                        197          4.172331

cuisines - Japanese
             restaurant_link  total_avg_rating
feature_flg
0                       7966          4.078592
1                        189          4.025997

cuisines - Deli
             restaurant_link  total_avg_rating
feature_flg
0                       8078          4.075432
1                         77          4.336156

cuisines - Steakhouse
             restaurant_link  total_avg_rating
feature_flg
0                       7988          4.074293
1                        167          4.195917

cuisines - Austrian
             restaurant_link  total_avg_rating
feature_flg
0                       8052          4.075180
1                        103          4.199454

cuisines - Wine Bar
             restaurant_link  total_avg_rating
feature_flg
0                       8070          4.075768
1                         85          4.297030

cuisines - Middle Eastern
             restaurant_link  total_avg_rating
feature_flg
0                       8057          4.076976
1                         98          4.134881

cuisines - Barbecue
             restaurant_link  total_avg_rating
feature_flg
0                       8044          4.075601
1                        111          4.162811

cuisines - French
             restaurant_link  total_avg_rating
feature_flg
0                       8084          4.075095
1                         71          4.332861

cuisines - Contemporary
             restaurant_link  total_avg_rating
feature_flg
0                       8063          4.075555
1                         92          4.240285

cuisines - Mexican
             restaurant_link  total_avg_rating
feature_flg
0                       8044          4.079809
1                        111          3.859152

cuisines - Brew Pub
             restaurant_link  total_avg_rating
feature_flg
0                       8060          4.082123
1                         95          4.012981

cuisines - Soups
             restaurant_link  total_avg_rating
feature_flg
0                       8093          4.077815
1                         62          4.037030

cuisines - Croatian
             restaurant_link  total_avg_rating
feature_flg
0                       8085          4.076654
1                         70          4.234912

cuisines - Spanish
             restaurant_link  total_avg_rating
feature_flg
0                       8074          4.078478
1                         81          3.970110

cuisines - Street Food
             restaurant_link  total_avg_rating
feature_flg
0                       8116          4.077000
1                         39          4.251025

cuisines - Fusion
             restaurant_link  total_avg_rating
feature_flg
0                       8089          4.076242
1                         66          4.245991

cuisines - South American
             restaurant_link  total_avg_rating
feature_flg
0                       8118          4.078200
1                         37          3.858129

cuisines - Beer restaurants
             restaurant_link  total_avg_rating
feature_flg
0                       8134          4.077159
1                         21          4.149222

cuisines - Southern-Italian
             restaurant_link  total_avg_rating
feature_flg
0                       8130          4.075331
1                         25          4.375043

cuisines - Mongolian
             restaurant_link  total_avg_rating
feature_flg
0                       8106          4.079393
1                         49          3.516608

cuisines - Dining bars
             restaurant_link  total_avg_rating
feature_flg
0                       8140          4.077235
1                         15          4.299173

cuisines - Central American
             restaurant_link  total_avg_rating
feature_flg
0                       8119          4.078616
1                         36          3.934588

cuisines - Latin
             restaurant_link  total_avg_rating
feature_flg
0                       8122          4.077868
1                         33          4.014163

cuisines - Eastern European
             restaurant_link  total_avg_rating
feature_flg
0                       8143          4.076798
1                         12          4.604167

cuisines - Arabic
             restaurant_link  total_avg_rating
feature_flg
0                       8149          4.077555
1                          6          4.057841

cuisines - Central-Italian
             restaurant_link  total_avg_rating
feature_flg
0                       8144          4.076682
1                         11          4.258444

cuisines - Irish

             restaurant_link  total_avg_rating
feature_flg
0                       8136          4.077848
1                         19          3.955768

cuisines - Northern-Italian
             restaurant_link  total_avg_rating
feature_flg
0                       8149          4.078103
1                          6          3.837756

cuisines - Afghani
             restaurant_link  total_avg_rating
feature_flg
0                       8139          4.076682
1                         16          4.390574

cuisines - African
             restaurant_link  total_avg_rating
feature_flg
0                       8143          4.077301
1                         12          4.217712

cuisines - Lebanese
             restaurant_link  total_avg_rating
feature_flg
0                       8145          4.077481
1                         10          4.132630

cuisines - Korean
             restaurant_link  total_avg_rating
feature_flg
0                       8145          4.077628
1                         10          3.971217

cuisines - Hungarian
             restaurant_link  total_avg_rating
feature_flg
0                       8151          4.077584
1                          4          4.019231

special_diets - Vegetarian Friendly
             restaurant_link  total_avg_rating
feature_flg
0                        764          3.988273
1                       7391          4.091942

special_diets - Vegan Options
             restaurant_link  total_avg_rating
feature_flg
0                       6402          4.016112
1                       1753          4.201349

special_diets - Gluten Free Options
             restaurant_link  total_avg_rating
feature_flg
0                       7254          4.023327
1                        901          4.228804

special_diets - Halal
             restaurant_link  total_avg_rating
feature_flg
0                       8122          4.076167
1                         33          4.334053

features - Reservations
             restaurant_link  total_avg_rating
feature_flg
0                       7594          4.084133
1                        561          4.037086

features - Seating
             restaurant_link  total_avg_rating
feature_flg
0                       7289          4.087037
1                        866          4.027890

features - Table Service
             restaurant_link  total_avg_rating
feature_flg
0                       7540          4.084843
1                        615          4.035227

features - Wheelchair Accessible
             restaurant_link  total_avg_rating
feature_flg
0                       7823          4.078260
1                        332          4.071259

features - Takeout
             restaurant_link  total_avg_rating
feature_flg
0                       7774          4.075684
1                        381          4.117633

features - Serves Alcohol
             restaurant_link  total_avg_rating
feature_flg
0                       7684          4.081754
1                        471          4.052331

features - Outdoor Seating
             restaurant_link  total_avg_rating
feature_flg
0                       7884          4.082939
1                        271          4.033443

features - Highchairs Available
             restaurant_link  total_avg_rating
feature_flg
0                       8005          4.071889
1                        150          4.150185

features - Wine and Beer
             restaurant_link  total_avg_rating
feature_flg
0                       8091          4.078376
1                         64          4.064839

features - Parking Available
             restaurant_link  total_avg_rating
feature_flg
0                       8102          4.074040
1                         53          4.350932

features - Free Wifi
             restaurant_link  total_avg_rating
feature_flg
0                       8096          4.074266
1                         59          4.222580

features - Full Bar
             restaurant_link  total_avg_rating
feature_flg
0                       8045          4.075623
1                        110          4.109354

features - Accepts Credit Cards
             restaurant_link  total_avg_rating
feature_flg
0                       8069          4.075344
1                         86          4.097416

features - Free off-street parking
             restaurant_link  total_avg_rating
feature_flg
0                       8133          4.076756
1                         22          4.354402

features - Street Parking
             restaurant_link  total_avg_rating
feature_flg
0                       8134          4.076604
1                         21          4.239773

features - Digital Payments
             restaurant_link  total_avg_rating
feature_flg
0                       8138          4.077489
1                         17          4.089046

features - Cash Only
             restaurant_link  total_avg_rating
feature_flg
0                       8133          4.076701
1                         22          4.448305

features - Family style
             restaurant_link  total_avg_rating
feature_flg
0                       8149          4.077500
1                          6          4.141941

features - Gift Cards Available
             restaurant_link  total_avg_rating
feature_flg
0                       8141          4.076480
1                         14          4.292731

features - Television
             restaurant_link  total_avg_rating
feature_flg
0                       8133          4.077417
1                         22          4.096871

features - Dog Friendly
             restaurant_link  total_avg_rating
feature_flg
0                       8147          4.077661
1                          8          3.917112

features - Delivery
             restaurant_link  total_avg_rating
feature_flg
0                       8142          4.077507
1                         13          4.090645

features - Accepts Visa
             restaurant_link  total_avg_rating
feature_flg
0                       8119          4.075825
1                         36          4.151968

features - Accepts Mastercard
             restaurant_link  total_avg_rating
feature_flg
0                       8118          4.075367
1                         37          4.167490

features - Non-smoking restaurants
             restaurant_link  total_avg_rating
feature_flg
0                       8148          4.077522
1                          7          4.100254

features - Accepts American Express
             restaurant_link  total_avg_rating
feature_flg
0                       8131          4.076577
1                         24          4.144234

features - Buffet
             restaurant_link  total_avg_rating
feature_flg
0                       8155          4.077545

features - Private Dining
             restaurant_link  total_avg_rating
feature_flg
0                       8147          4.077380
1                          8          4.100374

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/2122815118.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['column_2'] = df[column].str.split(separator)
/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_32048/2122815118.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['column_2'] = df[column].str.split(separator)

In [ ]:
'''
NEED TO FILTER CASES WITH TOO SMALL SIZE OF THE SMALLEST GROUP !!!
'''

In [ ]:
'''

cuisines - Fast food
0                       7941          4.080257
1                        214          3.930997

cuisines - Sushi
0                       7887          4.080588
1                        268          3.955578

cuisines - Seafood
0                       7871          4.066961
1                        284          4.307471

cuisines - Chinese
0                       7952          4.082207
1                        203          3.736369

cuisines - Mongolian
0                       8106          4.079393
1                         49          3.516608

cuisines - Eastern European
0                       8143          4.076798
1                         12          4.604167


special_diets - Vegan Options
0                       6402          4.016112
1                       1753          4.201349

special_diets - Gluten Free Options
0                       7254          4.023327
1                        901          4.228804

'''

In [52]:
# import seaborn as sns
# import matplotlib.pyplot as plt

In [72]:
# sns.histplot(data=bavaria_df[bavaria_df['total_reviews_count'] >= 20], x='total_reviews_count', bins=200)
# plt.xlim([20, 2000])
# plt.ylim([0, 1000])
# plt.show()